<mat-card *ngIf="!media.isActive('xs')" fxShow fxHide.xs class="place-info" id="placeInfo" [@fade]="'fade'">
  <div class="partner-info-title">
    <h2 mat-dialog-title>{{meta?.name}}</h2>
    <app-bookmark-control [placeId]="placeId"></app-bookmark-control>
    <app-close-button class="partner-info-title__close-button" routerLink="../.."></app-close-button>
  </div>
  <nav mat-tab-nav-bar aria-label="weather navigation links">
    <a mat-tab-link
       [routerLink]="'info'"
       routerLinkActive #rla1="routerLinkActive"
       [active]="rla1.isActive">
      Общее
    </a>
    <a mat-tab-link
       [routerLink]="'images'"
       [disabled]="!meta?.hasImages"
       routerLinkActive #rla2="routerLinkActive"
       [ngClass] = "{'tab-notActive': !meta?.hasImages}"
       [active]="rla2.isActive">
      Изображения
    </a>
    <a mat-tab-link
       [routerLink]="'videos'"
       [disabled]="!meta?.hasVideos"
       routerLinkActive #rla3="routerLinkActive"
       [ngClass]="{'tab-notActive': !meta?.hasVideos}"
       [active]="rla3.isActive">
      Видео
    </a>
    <a mat-tab-link
       [routerLink]="'sales'"
       [disabled]="!meta?.hasSales"
       [ngClass] = "{'tab-notActive': !meta?.hasSales}"
       routerLinkActive #rla4="routerLinkActive"
       [active]=" rla4.isActive">
      Скидки
    </a>
    <ng-container>
      <a mat-tab-link
         [routerLink]="'overviews'"
         [disabled]="!meta?.hasOverviews"
         [ngClass]="{'tab-notActive': !meta?.hasOverviews}"
         routerLinkActive #rla5="routerLinkActive"
         [active]=" rla5.isActive">
        Обзоры
      </a>
      <mat-icon class="tab-overview-add" routerLink="overviews/create">add</mat-icon>
    </ng-container>
  </nav>
  <div class="tab-content">
    <app-loader [keyWords]="['info']"></app-loader>
    <router-outlet></router-outlet>
  </div>
</mat-card>

<div *ngIf="media.isActive('xs')" class="content_block mobile-page partner-page-mobile">
  <section class="header">
    <div class="head_content">
      <mat-icon (click)="back()">arrow_back</mat-icon>
      <div class="title_head">
        <h1>{{meta?.name}}</h1>
      </div>
      <mat-icon style="cursor: pointer" class="icon-map" (click)="goMap()">map</mat-icon>
    </div>
  </section>
  <div class="partner-map"></div>
  <mat-tab-group [(selectedIndex)]="selected.value">
    <mat-tab label="Общее">
      <app-info-tab *ngIf="selected.value == 0"></app-info-tab>
    </mat-tab>
    <mat-tab [disabled]="!meta?.hasImages" label="Изображения">
      <images-tab *ngIf="selected.value == 1"></images-tab>
    </mat-tab>
    <mat-tab [disabled]="!meta?.hasVideos" label="Видео">
      <app-video-tab *ngIf="selected.value == 2"></app-video-tab>
    </mat-tab>
    <mat-tab [disabled]="!meta?.hasSales" label="Скидки">
      <sales-tab *ngIf="selected.value == 3"></sales-tab>
    </mat-tab>
    <mat-tab [disabled]="!meta?.hasOverviews" label="Обзоры">
      <app-overview *ngIf="selected.value == 4"></app-overview>
    </mat-tab>
  </mat-tab-group>
</div>

