.mat-dialog-content {
  max-height: initial !important;
}

.partner-info-title h2 {
  margin-top: 0;
  font-size: 35px;
  height: 42px;
}

.place-description {
  margin-top: 10px;
  overflow: overlay;
}

.partner-info-title {
  display: flex;
  position: relative;
}

.partner-info-title__close-button {
  margin-left: auto;
  margin-top: -20px;
  margin-right: -20px;
}

.close-button >>> .mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.place-info {
  width: calc(100vw - 680px);
  height: calc(100vh - 196px);
  min-width: 824px;
  max-width: 1200px;
  border-radius: 5px;
}

/deep/ .scroll-none {
  overflow: hidden;
}

.tab-content {
  height: calc(100vh - 300px);
  overflow: auto;
  position: relative;
}

.tab-notActive {
  pointer-events: none;
  cursor: default;
}

.tab-overview-add {
  pointer-events: auto;
  cursor: pointer;
  opacity: unset !important;
  color: #00838f;
  height: 48px;
  display: inline-flex;
  align-items: center;
}


.mobile-page .header{
  position: fixed;
  width: 100%
}

.mobile-page /deep/.mat-tab-group{
  height: 100%;
}

.mobile-page /deep/.mat-tab-body-wrapper{
  height: 100%;
}


.mobile-page /deep/.mat-elevation-z4{
  box-shadow: unset;
}


.mobile-page /deep/ .icon-map{
  cursor: pointer;
  float: right;
  right: 15px;
  position: fixed;
}

.mobile-page section.header .head_content .title_head {
  display: block;
  margin-left: 15px;
  width: calc(100% - 120px)
}
