<div class="feedback">
  <div class="feedback-container">
    <div class="feedback__title mat-dialog-title">Обратная связь</div>
    <div class="feedback__descp">Оставьте сообщение и мы с вами свяжемся</div>
    <div>
      <form [formGroup]="form.form" class="form form_with-full">
        <mat-form-field>
          <input formControlName="email" matInput type="text" placeholder="Ваш e-mail для связи"
                 class="feedback-form__input">
          <mat-hint [hidden]="!form.isError('email')"><span>{{form.getError('email')}}</span></mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="message" matInput type="text" placeholder="Сообщение" class="feedback-form__input">
          <mat-hint [hidden]="!form.isError('message')"><span>{{form.getError('message')}}</span></mat-hint>
        </mat-form-field>
        <div class="form__row">
          <button [disabled]="!form.isValid()" (click)="submit()" mat-raised-button color="primary" class="form__button_right">
            Отправить
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
