<div fxLayout='row' block="cards" *ngIf="!media.isActive('xs')">
  <div fxFlex="20%" fxFlex.lt-lg="25%" elem="container">
    <app-loader [keyWords]="['places']"></app-loader>
    <app-ds-places-list  [title]="'Новые места'" [items$]="newPlaces$"></app-ds-places-list>
  </div>
  <div fxFlex="20%" fxFlex.lt-lg="25%" elem="container">
    <app-ds-sales-list [title]="'Свежие скидки'" [items$]="newSales$"></app-ds-sales-list>
  </div>
  <div fxLayout='row' fxLayout.lt-lg='column' fxFlex.lt-lg="25%">
    <div elem="container">
      <app-ds-sales-list
        [title]="'Недавние скидки'"
        [items$]="recentSales$"
        [authorizedOnly]="true">
        <h3>Вы еще не воспользовались скидками 😢</h3>
      </app-ds-sales-list>
    </div>
    <div elem="container">
      <app-loader [keyWords]="['bookmarks']"></app-loader>
      <app-ds-places-list [title]="'Закладки'" [items$]="bookmarks$" [authorizedOnly]="true">
        <h3>У вас нет закладок 😢</h3>
      </app-ds-places-list>
    </div>
  </div>
  <div fxFlex="20%" fxFlex.lt-lg="25%" elem="container">
    <app-ds-user-referal-chart></app-ds-user-referal-chart>
  </div>
</div>

<div fxLayout="rw" block="cards" mod="mobile" *ngIf="media.isActive('xs')">
  <app-xs-cards [places$]="newPlaces$" [sales$]="newSales$">
  </app-xs-cards>
</div>


<!--используется только для отображения модалое по урлу, не отображать другие компоненты-->
<router-outlet></router-outlet>


