<mat-card class="pay-card" *ngIf="!media.isActive('xs')">
  <div class="pay-header">
    <mat-card-title class="pay-header__title pay-header__pay-header__title">Оплатите подписку</mat-card-title>
    <mat-card-subtitle class="pay-header__amount pay-header__amount_color pay-header__pay-header__amount">
      <span>{{data.tariff.price}} р.</span>/ мес
    </mat-card-subtitle>
  </div>
  <mat-card-content class="pay-content">
    <p class="pay-content__item pay-content__pay-content__item">И получите доступ ко всем скидкам
      {{data.tariff.price | payDescription}}</p>
  </mat-card-content>
  <mat-card-actions class="pay-actions">
    <form #payForm action="https://paymaster.ru/payment/init" method="post">
      <input name="LMI_MERCHANT_ID" value="30f10209-207a-464d-b2df-1f08232b6649" type="hidden"/>
      <input name="LMI_PAYMENT_AMOUNT" value="{{data.tariff.price}}" type="hidden"/>
      <input name="LMI_CURRENCY" value="RUB" type="hidden">
      <input name="LMI_PAYMENT_DESC" value="Aбонентская плата {{data.tariff.price}} р." type="hidden">
      <input name="LMI_PAYMENT_NO" value="{{data.paymentId}}" type="hidden">
    </form>
    <button class="pay-action" mat-raised-button color="primary" (click)="pay(payForm, data.tariff.id)">Оплатить</button>
  </mat-card-actions>
</mat-card>



<dialog-mobile *ngIf="media.isActive('xs')"
               [title]="'Оплатите подписку'"
               [icon]="'credit_card'"
               [buttonSave]="'Оплатить'"
               (save)="pay(payForm, data.tariff.id)"
               (close)="dr.close()">
  <div class="main-block_buttons" style="font-weight: 600;">
    Получите доступ ко всем скидкам {{data.tariff.price | payDescription}}, оформив подписку
    <mat-card-actions class="pay-actions">
      <form #payForm action="https://paymaster.ru/payment/init" method="post">
        <input name="LMI_MERCHANT_ID" value="30f10209-207a-464d-b2df-1f08232b6649" type="hidden"/>
        <input name="LMI_PAYMENT_AMOUNT" value="{{data.tariff.price}}" type="hidden"/>
        <input name="LMI_CURRENCY" value="RUB" type="hidden">
        <input name="LMI_PAYMENT_DESC" value="Aбонентская плата {{data.tariff.price}} р." type="hidden">
        <input name="LMI_PAYMENT_NO" value="{{data.paymentId}}" type="hidden">
      </form>
    </mat-card-actions>
  </div>
</dialog-mobile>

