.pay-card {
  padding: 0 !important;
}

.pay-header__title {
  background-color: #00838f !important;
  color: white;
  padding: 25px;
}

.pay-header__amount span {
  font-size: 25px;
}

.pay-header__amount_color span{
  color: #00838f !important;
}

.pay-header{
  flex-direction: column;
  margin-bottom: auto !important;
  display: flex;
  justify-content: center;
}

.pay-header__pay-header__amount{
  margin: auto;
}
.pay-header__pay-header__title{
  text-align: center;
}

.pay-content__item{
  font-size: 18px;
  width: 373px;
}

.pay-content__pay-content__item{
  padding: 25px 25px 0px 25px;
  width: 373px;
  text-align: center;
  margin: auto;
}

.pay-actions {
  padding: 25px !important;
  margin-bottom: auto !important;
  display: flex;
  justify-content: center;
}

.pay-action{
  font-size: 20px;
}
