<div block="popover" class="with-shadow">
  <div block="popover-info">
    <div elem="logo">
      <img src="{{place?.logo == null ? '' : place?.logo + '?width=100&height=100&rmode=crop'}}">
    </div>
    <div elem="body">
      <h4 elem="title">
        {{place?.name}}
      </h4>
      <div block="contact-info">
        <mat-icon elem="icon" mat-list-avatar>language</mat-icon>
        <div elem="value">{{place?.website == "" ? "-" : place?.website}}
        </div>
      </div>
      <div block="contact-info">
        <mat-icon elem="icon" mat-list-avatar>phone</mat-icon>
        <div elem="value">{{place?.phone == "" ? "-" : place?.phone}}</div>
      </div>
    </div>
  </div>
</div>
