.popover-info {
  display: flex;
}

.contact-info {
  display: inline;
}

.contact-info {
  display: flex;
  margin: 10px;
}

.popover {
  padding: 10px;
  background-color: white;
}

h5.popover-info__title {
  margin: 0px 10px 0px;
}

h4.popover-info__title {
  margin: 0px 0px 0px 10px;
}

.contact-info__value {
  line-height: 24px;
  margin-left: 5px;
}
