<form [formGroup]="regForm.form" class="form form_with-full">
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Имя">
    <mat-hint class="hint-error" align="start">{{regForm.getError('name')}}</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="phone" type="tel" placeholder="Мобильный телефон">
    <mat-hint class="hint-error" align="start">{{regForm.getError('phone')}}</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="email" type="email" placeholder="Адрес эл. почты">
    <mat-hint class="hint-error" align="start">{{regForm.getError('email')}}</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="password" type="password" placeholder="Пароль">
    <mat-hint class="hint-error" align="start">{{regForm.getError('password')}}</mat-hint>
  </mat-form-field>
</form>
