<mat-horizontal-stepper [linear]="true" *ngIf="!media.isActive('xs')">
  <mat-step [editable]="true">
    <div>
      <ng-template matStepLabel>О нас</ng-template>
      <div class="step-about">
          <ul>
            <li>Мы объединяем все самое ЛУЧШЕЕ.</li>
            <li>Будь в курсе всех скидок и акций в своем городе.</li>
            <li>Смотри портфолио организаций разных категорий и выбирай для себя только самые лучшие и выгодные предложения!</li>
            <li>Приглашай друзей - получай за это реальные деньги.</li>
            <li> Зарегистрируйся БЕСПЛАТНО - и стань участником самого перспективного проекта в истории.</li>
          </ul>
      </div>
      <div class="form__row">
        <button mat-raised-button color="primary" class="form__button_right" matStepperNext>Регистрация
        </button>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="regForm.form" [editable]="false">
    <div [formGroup]="regForm.form">
      <ng-template matStepLabel>Заполните Ваши данные</ng-template>
      <app-register-form [regForm]="regForm"></app-register-form>
      <div class="form__row">
        <button mat-raised-button color="primary" class="form__button_right" [disabled]="!regForm.isValid()"
                matStepperNext (click)="reg()">Далее
        </button>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="tokenForm?.form" [editable]="false">
    <div [formGroup]="tokenForm.form">
      <ng-template matStepLabel>Подтвердите номер телефона</ng-template>
      <app-register-confirm [tokenForm]="tokenForm" [regForm]="regForm"></app-register-confirm>
      <div class="form__row">
        <button mat-raised-button color="primary" class="form__button_right" [disabled]="!tokenForm.isValid()"
                matStepperNext (click)="confirm()">Готово
        </button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<mat-vertical-stepper class="mobile-step" [linear]="true" *ngIf="media.isActive('xs')">
  <mat-step [editable]="true">
    <div>
      <ng-template matStepLabel>О нас</ng-template>
      <div class="step-about mobile-step-about">
        <ul>
          <li>Мы объединяем все самое ЛУЧШЕЕ.</li>
          <li>Будь в курсе всех скидок и акций в своем городе.</li>
          <li>Смотри портфолио организаций разных категорий и выбирай для себя только самые лучшие и выгодные предложения!</li>
          <li>Приглашай друзей - получай за это реальные деньги.</li>
          <li> Зарегистрируйся БЕСПЛАТНО - и стань участником самого перспективного проекта в истории.</li>
        </ul>
      </div>
      <div class="form__row">
        <button mat-raised-button color="primary" class="form__button_right" matStepperNext>Регистрация
        </button>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="regForm.form" [editable]="false">
    <div [formGroup]="regForm.form">
      <ng-template matStepLabel>Заполните Ваши данные</ng-template>
      <app-register-form [regForm]="regForm"></app-register-form>
      <div class="form__row">
        <button mat-raised-button color="primary" class="form__button_right" [disabled]="!regForm.isValid()"
                matStepperNext (click)="reg()">Далее
        </button>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="tokenForm?.form" [editable]="false">
    <div [formGroup]="tokenForm.form">
      <ng-template matStepLabel>Подтвердите номер телефона</ng-template>
      <app-register-confirm [tokenForm]="tokenForm" [regForm]="regForm"></app-register-confirm>
      <div class="form__row">
        <button mat-raised-button color="primary" class="form__button_right" [disabled]="!tokenForm.isValid()"
                matStepperNext (click)="confirm()">Готово
        </button>
      </div>
    </div>
  </mat-step>
</mat-vertical-stepper>
