.mobile-step /deep/.mat-vertical-content{
  padding-bottom: unset;
}
.step-about ul li{
  list-style-type: none;
  margin-top: 5px;
  position: relative;
}

.step-about span{
  list-style-type: none;
}

.step-about ul li::before{
  content: "✓ ";
  position: absolute;
  left: -18px;
  top: -2px;
}

.step-about ul{
  margin: 10px 0 0 0;
  padding: 0;
}

.step-about .step-head{
  font-weight: bold;
}

.mobile-step /deep/.mat-step-header:hover{
  background-color: unset;
}
