.lk {
  height: 570px;
  width: 915px;
}

.lk-menu {
  float: left;
  height: 100%;
  border-right: 1px solid #d8d5d5;
  box-shadow: 0 1px 0px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23)
}

.lk-menu /deep/.mat-list-item-content{
  font-size: 12px;
  color: rgba(0,0,0,.6);
  padding-left: 10px;
  border-bottom: 1px solid #d8d5d5;
}
.lk-menu /deep/.mat-list {
  padding: unset;
}

.lk-menu-avatar {
  width: 200px;
  height: 200px;
}

.lk-menu-avatar img{
  width: 200px;
  height: 200px;
}

.lk-container{
  float: right;
  width: 74.2%;
  padding: 15px 20px 0 15px;
}

.mat-list-item-content{
  font-size: 15px;
}


.title {
  font-size: 25px;
  padding: 15px;
}

.window-container {
  display: flex;
  flex-direction: row;
}

.border-top {
  border-top: 1px solid #c6c6c6;
}

.border-right {
  border-right: 1px solid #c6c6c6;
}

.user-menu__item {
  cursor: pointer;
}

.user-menu__item:hover {
  background-color: lightgray;
}
.user-page{
  max-width: 600px;
}


.mobile-page /deep/.lk-mobile-tab /deep/.mat-tab-label-content{
  padding: 0 7px;
}
