<div class="lk" ngClass.lt-sm="lk_mobile" *ngIf="!media.isActive('xs')">
  <div class="lk-menu">
    <div class="lk-menu-avatar">
      <img src="https://pp.userapi.com/c625316/v625316804/3d23f/IemQ54JomCQ.jpg?ava=1">
    </div>
    <div class="lk-menu-list">
      <mat-list>
        <mat-list-item class="menu__item" (click)="currentPage=page.personal"
                       [class.active]="isPageShow(page.personal)">
          <mat-icon mat-list-icon>apps</mat-icon>
          Личные данные
        </mat-list-item>
        <mat-list-item class="menu__item" (click)="currentPage=page.tariffs" [class.active]="isPageShow(page.help)">
          <mat-icon mat-list-icon>view_carousel
          </mat-icon>
          Тарифные планы
        </mat-list-item>
        <mat-list-item class="menu__item" (click)="currentPage=page.referal" [class.active]="isPageShow(page.referal)">
          <mat-icon mat-list-icon>clear_all</mat-icon>
          Партнерская программа
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="lk-container">
    <app-user-personal-data *ngIf="isPageShow(page.personal)"></app-user-personal-data>
    <app-user-referals *ngIf="isPageShow(page.referal)"></app-user-referals>
    <app-user-faq *ngIf="isPageShow(page.help)"></app-user-faq>
    <app-user-tariffs *ngIf="isPageShow(page.tariffs)"></app-user-tariffs>
  </div>
</div>


<div *ngIf="media.isActive('xs')" class="content_block mobile-page">
  <section class="header">
    <div class="head_content">
      <mat-icon (click)="close()">arrow_back</mat-icon>
      <div class="title_head">
        <h1>{{title}} </h1>
      </div>
    </div>
  </section>
  <mat-tab-group class="lk-mobile-tab" [(selectedIndex)]="selected.value" (selectedIndexChange)="setTitle($event)">
    <mat-tab label="Программа">
      <app-user-referals *ngIf="selected.value == 0" [selectedIndex]="selected"></app-user-referals>
    </mat-tab>
    <mat-tab label="Тарифы">
      <app-user-tariffs *ngIf="selected.value == 1"></app-user-tariffs>
    </mat-tab>
    <mat-tab label="Данные">
      <app-user-personal-data *ngIf="selected.value == 2"></app-user-personal-data>
    </mat-tab>
  </mat-tab-group>
</div>





