.form-content {
  padding: 25px;
  max-width: 800px;
}

.hint-error {
  max-width: 250px;
  color: red;
  bottom: -4px;
}

/*mobile*/
.main-block_buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-block_buttons button{
  width: 186px;
  height: 48px;
  border-radius: 24px;
  background: #00838f;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
  border: unset;
}
