<mat-tab-group *ngIf="!media.isActive('xs')" [selectedIndex]="getIndex()">
  <mat-tab label="Войти" focusIndex="0">
    <div class="form-content">
      <app-sign-in></app-sign-in>
    </div>
  </mat-tab>
  <mat-tab label="Зарегистрироваться">
    <div class="form-content">
      <app-register></app-register>
    </div>
  </mat-tab>
</mat-tab-group>


<dialog-mobile *ngIf="media.isActive('xs')"
               [title]="'Добро пожаловать в UIR'"
               [icon]="'account_circle'"
               [hiddenSave]="true"
               (close)="dr.close()">
  <div class="main-block_buttons">
    <button mat-raised-button (click)="sigIn()">Войти</button>
    <button mat-raised-button (click)="register()">Регистрация</button>
  </div>
</dialog-mobile>
