<div block="sales-container">
  <mat-card block="sale" ngClass.xs="mobile_sale" *ngFor="let sale of sales">
    <div elem="header">
      <mat-card-title elem="title">{{sale.name}}</mat-card-title>
      <mat-card-subtitle elem="description">{{sale.description}}</mat-card-subtitle>
      <mat-card-actions elem="actions" *ngIf="sale.isExclusive">
        <button mat-raised-button color="primary" (click)="take(sale)" disabled>Получить</button>
      </mat-card-actions>
    </div>
    <mat-card-content>
      <p elem="amount" class="bg-red-500 color-white" *ngIf="sale.discountType === 0">{{sale.amount}}%</p>
    </mat-card-content>
    <div *ngIf="sale.isExclusive" block="exclusive"></div>
    <div elem="countdown" *ngIf="sale.discountEndDate">
      <countdown [config]="{ stopTime: getTime (sale.discountEndDate)}">Осталось: $!d!д. $!h!ч. $!m!м.</countdown>
    </div>
  </mat-card>
</div>
