.sale {
  display: flex;
  overflow: hidden;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #f1f1f1;
}

.sales-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.sale__amount {
  background-color: red;
  font-size: 2em;
  color: white;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  align-self: center;
}

.sale__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 10px;
}

.sale__actions {
  margin-bottom: auto !important;
}

.sale >>> .mat-card-actions {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.sale__title {
  font-size: 30px;
  line-height: 30px;
}

.sale__title:first-letter {
  text-transform: uppercase;
}

.sale__description:first-letter {
  text-transform: uppercase;
}

mat-card-content{
  align-self: center;
}

.sale__countdown {
  font-size: 14px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.mobile_sale {
  width: 100%;
  margin-right: unset;
}

.mobile_sale /deep/ button {
  width: 186px;
  height: 48px;
  border-radius: 24px;
  background: #00838f;
  color: white;
  text-transform: uppercase;
  margin-top: 20px;
  border: unset;
}
