<ng-container *ngIf="!media.isActive('xs')">
  <form [formGroup]="loginForm.form" *ngIf="!showChangePassword" class="form form_with-full">
    <mat-form-field>
      <input matInput type="text" formControlName="login" placeholder="Номер телефона">
      <mat-hint [hidden]="!loginForm.isError('login')"><span>{{loginForm.getError('login')}}</span></mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="password" placeholder="Пароль" type="password">
      <mat-hint [hidden]="!loginForm.isError('password')"><span>{{loginForm.getError('password')}}</span></mat-hint>
    </mat-form-field>
    <div class="form__row">
      <div class="form__row_align-left change-password-link change-password-link_center"
           (click)="showChangePassword=true">Забыли пароль?
      </div>
      <button mat-raised-button color="primary" (click)="login()" [disabled]="!loginForm.form.valid"
              class="form__button_right">Войти
      </button>
    </div>
  </form>

  <app-change-password *ngIf="showChangePassword"></app-change-password>

</ng-container>


<dialog-mobile *ngIf="media.isActive('xs')"
               [title]="'Вход'"
               [icon]="'exit_to_app'"
               [hiddenSave]="true"
               [buttonClose]="'Отмена'"
               [disabledSave]="'Войти'"
               [hiddenButton]="true">
  <form [formGroup]="loginForm.form" *ngIf="!showChangePassword" class="form form_with-full">
    <mat-form-field>
      <input matInput type="text" formControlName="login" placeholder="Номер телефона">
      <mat-hint [hidden]="!loginForm.isError('login')"><span>{{loginForm.getError('login')}}</span></mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="password" placeholder="Пароль" type="password">
      <mat-hint [hidden]="!loginForm.isError('password')"><span>{{loginForm.getError('password')}}</span></mat-hint>
    </mat-form-field>
    <div class="form__row">
      <div class="form__row_align-left change-password-link change-password-link_center"
           (click)="showChangePassword=true">Забыли пароль?
      </div>
    </div>
    <div class="form__row">
      <button mat-raised-button class="cancel" (click)="close()">Отмена</button>
      <button mat-raised-button color="primary" (click)="login()" [disabled]="!loginForm.form.valid"
              class="form__button_right">Войти
      </button>
    </div>
  </form>

  <app-change-password *ngIf="showChangePassword"></app-change-password>

</dialog-mobile>

