@media screen and(max-height: 600px) {
  .place-card-mobile {
    z-index: 1;
    background-color: white;
    border-radius: 12px;
    margin: 8px;
    width: 70vw;
    border: 1px solid darkgray;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px;
    height: 133px;
    margin-top: 25px;

    &__logo {
      border: 1px solid darkgray;
      width: min-content;
      border-radius: 100%;
      align-self: start;
      margin-top: -40px;

      & img {
        height: 70px;
        width: 70px;
        border-radius: 100%;
      }
    }

    &__bookmark {
      position: absolute;
      right: 15px;
      top: 15px;
      color: $main-color;
    }

    &__title {
      font-size: 15px;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 5px 0px;
      color: $main-title-color;
    }

    &__address {
      margin-bottom: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      color: $main-sub-title-color;
    }

    &__content {
      margin-top: 8px;
    }

    &__categories {
      overflow: auto;
      & .mat-chip-list-wrapper {
        height: 25px;
        width: max-content;
        flex-wrap: nowrap !important;
        margin: unset !important;
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6px;
    margin-bottom: 6px;
    color: $main-color;
    &__phone--main-color {
      color: $main-color
    }
  }


}
@media screen and(min-height: 600px) {
  .place-card-mobile {
    z-index: 1;
    background-color: white;
    border-radius: 12px;
    margin: 8px;
    width: 70vw;
    border: 1px solid darkgray;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px;
    height: min-content;
    margin-top: 25px;

    &__logo {
      border: 1px solid darkgray;
      width: min-content;
      border-radius: 100%;
      align-self: start;
      margin-top: -40px;

      & img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
      }
    }

    &__bookmark {
      position: absolute;
      right: 15px;
      top: 15px;
      color: $main-color;
    }

    &__title {
      font-size: 18px;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 5px 0px;
      color: $main-title-color;
    }

    &__address {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      color: $main-sub-title-color;
    }

    &__content {
      margin-top: 15px;
    }

    &__categories {
      overflow: auto;
      & .mat-chip-list-wrapper {
        width: max-content;
        flex-wrap: nowrap !important;
        margin: unset !important;
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 6px;
    color: $main-color;
    &__phone--main-color {
      color: $main-color
    }
  }


}

