@media screen and (max-height: 600px) {
  .sale-card-mobile {
    z-index: 1;
    background-color: white;
    border-radius: 12px;
    margin: 8px;
    width: 70vw;
    border: 1px solid darkgray;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px;
    height: 89px;
    overflow: hidden;

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__amount .discount-type {
      min-width: 72px;
      height: 70px;
      line-height: 70px;
      font-size: 28px;
    }

    &__title {
      font-weight: bold;
      margin-left: 10px;
      color: $main-title-color;
      text-overflow: ellipsis;
      white-space: normal;
      width: 45vw;
      overflow: hidden;
    }

    &__description {
      margin-top: 15px;
      color: $main-sub-title-color;
      text-overflow: ellipsis;
    }
  }
}



@media screen and (min-height: 600px) {
  .sale-card-mobile {
    z-index: 1;
    background-color: white;
    border-radius: 12px;
    margin: 8px;
    width: 70vw;
    border: 1px solid darkgray;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px;
    height: min-content;
    overflow: hidden;

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__amount .discount-type {
      min-width: 100px;
      height: 100px;
      line-height: 100px;
      font-size: 45px;
    }

    &__title {
      font-weight: bold;
      margin-left: 10px;
      color: $main-title-color;
      text-overflow: ellipsis;
      white-space: normal;
      width: 45vw;
      overflow: hidden;
    }

    &__description {
      margin-top: 15px;
      color: $main-sub-title-color;
      text-overflow: ellipsis;
    }
  }
}
