<button mat-fab *ngIf="!(isLogin$|async)" class="main-color without-shadow login-button" (click)="openAuth()">
  <mat-icon class="login-button__icon">account_circle</mat-icon>
</button>
<button mat-mini-fab *ngIf="(isLogin$|async)" [mat-menu-trigger-for]="menu1" class="without-shadow main-color">
  <mat-icon color="red">more_vert</mat-icon>
</button>
<mat-menu #menu1="matMenu">
  <button mat-menu-item (click)="referals()">
    <mat-icon>supervisor_account</mat-icon>
    <span>Личный кабинет</span>
  </button>
  <button mat-menu-item (click)="loadRecent()" disabled>
    <mat-icon>restore</mat-icon>
    <span>Недавние скидки</span>
  </button>
  <button mat-menu-item routerLink="/bookmarks">
    <mat-icon>star_rate</mat-icon>
    <span>Закладки</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Выход</span>
  </button>
</mat-menu>
