.login-button >>> .mat-button-wrapper {
  padding: 0 !important;
  height: 100% !important;
  display: flex !important;
}

.login-button{
  display: flex;
  justify-content: center;
}

.login-button__icon{
  font-size: 45px;
  height: 45px;
  width: 45px;
}
