.lk-tariff {
  display: inline-block;
  width: 166px;
}

.lk-tariff-active {
  box-shadow: 0px 0px 5px 0px rgba(150, 150, 150, 1);
  border-bottom: none;
  border-top: none;
  transform: scaleY(1.1);
}

.lk-tariff-info {
  height: 150px;
  color: white;
}

.lk-tariff-line, .lk-tariff-button, .lk-tariff-info-name {
  height: 50px;
}

.lk-tariff-info-name {
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.15);
  border-bottom: 0.5px solid #fffffff2;
}

.lk-tariff-price-info {
  position: relative;
  font-size: 45px;
}

.lk-tariff-price-info:after {
  position: absolute;
  left: -26px;
  bottom: -14px;
  content: "\440\443\431";
  font-size: 13px;
}

.lk-tariff-price-info:before {
  position: absolute;
  right: -28px;
  top: -6px;
  content: "/мес";
  font-size: 13px;
}

.lk-tariff-info-price {
  text-align: center;
  height: 100px;
  line-height: 100px;
}

.lk-tariff-line, .lk-tariff-button {
  line-height: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
}

.lk-tariff-line {
  background: #f1f1f1;
}

.lk-tariff-footer {
  background: #e8e6e6;
  padding: 7px;
}


.lk-tariff-footer-button {
  background: #fd5622;
  color: white;
  width: 100%;
  border: none;
  height: 38px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23)
}

.lk-tariff-footer-active {
  color: #fd5622;
  text-align: center;
  height: 34px;
  line-height: 34px;
}


.lk-tariff-mobile {
  display: flex;
  flex-direction: column;
}

.btn-disabled {
  background-color: darkgray !important;
  cursor: no-drop;
}

.name-mobile {
  margin-top: 0px;
  color: white;
  font-size: 20px;
  padding-left: 10px;
}

.amount-mobile {
  margin-top: 40px;
  padding-left: 10px;
}

.amount-mobile span {
  color: white;
  font-size: 17px;
}

.skidki-mobile {
  font-size: 13px;
  color: white;
  padding-left: 10px;

}


.button-mobile {
  margin: 8px;
  height: 48px;
  border-radius: 24px;
  background: #00838f;
  color: white;
  text-transform: uppercase;
  border: unset;
}

.used-mobile {
  display: block;
  margin-bottom: 14px;
  text-align: center;
}

.used-mobile p {
  color: white;
  text-transform: uppercase;
}


