<div class="lk-tariff" [ngClass]="{'lk-tariff-active' : tariff.isActive}" *ngIf="!media.isActive('xs')">
  <div class="lk-tariff-info" [ngStyle]="{'background': getColorTariff()}">
    <div class="lk-tariff-info-name">
      {{tariff.name}}
    </div>
    <div class="lk-tariff-info-price">
      <span class="lk-tariff-price-info">{{tariff.price}}</span>
    </div>
  </div>
  <div class="lk-tariff-line">
    {{tariff.lines}} ЛИНИЙ
  </div>
  <div class="lk-tariff-footer" [ngClass]="{'lk-tariff-footer-active': tariff.isActive}">
    <span *ngIf="tariff.isActive">АКТИВНЫЙ</span>
    <button [ngStyle]="{'visibility': tariff.price == 0 && !tariff.isActive && 'hidden'}"
            *ngIf="!tariff.isActive"
            (click)="clickTariff(tariff)"
            disabled
            class="lk-tariff-footer-button btn-disabled">ПЕРЕЙТИ
    </button>
  </div>
</div>


<div class="lk-tariff-mobile" *ngIf="media.isActive('xs')" [ngStyle]="{'background': getColorTariff()}">
  <div class="name-mobile"><p>{{tariff.name}}</p></div>
  <div class="amount-mobile"><span>{{tariff.price}} руб/месяц</span></div>
  <div class="skidki-mobile"><p>{{tariff.price == 0 ? "Без скидок и линий" : tariff.lines + " линий + Все скидки"}}</p>
  </div>
  <button (click)="clickTariff(tariff)" class="button-mobile btn-disabled" *ngIf="!tariff.isActive" disabled>перейти</button>
  <div class="used-mobile" *ngIf="tariff.isActive"><p>используется</p></div>
</div>
