<mat-card block="ds-card" [mod]="['border-rd', 'padding-fix']">
  <mat-card-header elem="header" [mod]="['padding-fix']">
    <div>Статистика приглашений</div>
  </mat-card-header>
  <mat-card-content>
    <app-authrized-content>
      <div elem="body" *ngIf="authService.isAuthorize()|async">
        <app-user-referal-chart></app-user-referal-chart>
      </div>
    </app-authrized-content>
  </mat-card-content>
</mat-card>
