<h2 mat-dialog-title>Документы</h2>
<mat-dialog-content>
  <div class="content">
    <div class="contacts">
      <div class="document">
        <a class="document__val" href="{{serverUrl + 'files/free_users.pdf'}}">Пользовательское
          соглашение.</a>
      </div>
      <div class="document">
        <a class="document__val" href="{{serverUrl + 'files/nov_polz_soglash_1.pdf'}}">Пользовательское соглашение.
          Реферальная программа.</a>
      </div>
      <div class="document">
        <a class="document__val" href="{{serverUrl + 'files/reklamn_dogovor.pdf'}}">Договор оказания
          рекламных услуг.</a>
      </div>
    </div>
  </div>
  <div class="requisites">
    <div>
      <div class="requisites__title mat-dialog-title">Реквизиты</div>
      <div class="requisites__descp">
        <div>Общество с ограниченной ответственностью «ЮрИнвестРесурс»</div>
        <div>420107, РТ, г.Казань, ул. Спартаковская 21а.</div>
        <div>ИНН: 1655385610</div>
        <div>КПП: 165501001</div>
        <div>ОГРН: 1171690037540</div>
        <div>Р/с 40702810762000026345 в Дополнительный офис № 8610/080</div>
        <div>Волго-Вятский Банк Сбербанка России ПАО.</div>
        <div>К/с 30101810600000000603</div>
        <div>БИК: 049205603</div>
        <div>Тел: 8-986-917-08-44</div>
        <div>e-mail: ruslan@uir.one</div>
      </div>
    </div>
  </div>
</mat-dialog-content>
