.cards {
  &--mobile {
  }
}

.ds-card {
  &--border-rd {
    border-radius: 5px !important;
  }

  &--padding-fix {
    padding: 0px !important;
  }

  &__header {
    font-size: 16px !important;
    color: #666 !important;
    border-bottom: 1px solid rgba(0, 0, 0, .12) !important;

    &--padding-fix div {
      margin: 10px 0 !important;
    }

    &--padding-fix .mat-card-header-text {
      margin-left: 16px !important;
    }
  }

  &__body {
    padding: 19px !important;
  }
}
