.ds-list {
  &--padding-fix {
    padding: 0 !important
  }
  &--hover mat-list-item:hover {
    background-color: #e4e4e4;
    cursor: pointer;
  }
  &--border mat-list-item {
    border-bottom: solid 1px #e0e0e0;
  }
}
