<mat-card class="referal-card-link" ngClass.lt-sm="referal-card_mobile" *ngIf="!media.isActive('xs')">
  <mat-card-header>
    <mat-card-title style="font-size: 22px">Поделиться в соц. сетях</mat-card-title>
    <mat-card-subtitle>
      Приглашение.&nbsp;
      <a class="referal-card__link" href="{{generalRef$ | async}}">{{generalRef$ | async}}</a>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <share-buttons [theme]="'material-dark'"
                   [include]="['facebook','twitter','google', 'whatsapp','telegram','vk','sms','email','copy']"
                   [show]="10"
                   [size]="1"
                   [url]="generalRef$ | async"
    ></share-buttons>
    <button mat-icon-button class="close" (click)="onClose()">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-card-content>
</mat-card>

<dialog-mobile
  class="general-mobile"
              *ngIf="media.isActive('xs')"
               [title]="'Приглашение'"
               [icon]="'exit_to_app'"
               [hiddenClose]="true"
               (save)="dr.close()"
               [buttonSave]="'Готово'">
  <mat-card-header class="body">
    <mat-card-title class="title-mobile">Поделитесь в соц. сетях</mat-card-title>
    <mat-card-subtitle class="subtitle-mobile">
      <span>Приглашение</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="ref-buttons-mobile">
    <share-buttons [theme]="'material-dark'"
                   [include]="['facebook','twitter','google', 'whatsapp','telegram','vk','sms','email','copy']"
                   [show]="10"
                   [size]="1"
                   [url]="generalRef$ | async"
    ></share-buttons>
  </mat-card-content>
</dialog-mobile>

