.close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.referal-card__link {
  word-wrap: break-word;
}


/*mobile*/

.title-mobile{
  font-size: 20px;
  font-weight: 600;
}


.subtitle-mobile{
  flex-direction: column;
  display: flex;
  padding-bottom: 14px;
}

.subtitle-mobile span{
  padding-top: 9px;
  padding-bottom: 5px;
  font-size: 16px;
}

.ref-buttons-mobile{
  width: 29px;
}

.general-mobile /deep/.mat-card-header-text{
  flex-direction: column;
  display: flex;
}
.ref-buttons-mobile /deep/.sb-group{
  padding: 0 20px;
}

.ref-buttons-mobile /deep/.sb-group .sb-button{
  padding: 3px;
}



