<!--desktop-->
<nav class="nav with-shadow" *ngIf="!media.isActive('xs')">
  <div class="nav-wrapper main-color header-container">
    <a (click)="navigate()" class="brand-logo header-container__brand-logo"><img src="assets/logo.svg"></a>
    <app-search class="header-container__search"></app-search>
    <app-contacts class="header-container__contacts"></app-contacts>
    <app-documents class="header-container__documents"></app-documents>
    <app-notification class="header-container__button-count"></app-notification>
    <a href="//about.uir.one" class="link_lending">
      О Нас
    </a>
    <div class="header-container__user-name sub-color">{{user?.name}}</div>
    <login class="header-container__user"></login>
  </div>
</nav>

<!--mobile-->
<nav class="nav" *ngIf="media.isActive('xs')" ngClass.xs="nav_mobile">
  <app-search
    *ngIf="searchService.isShow() | async"
    [drawer]="drawer"
    class="header-container__search"
    ngClass.xs="header-container__search-mobile">
  </app-search>
</nav>
