.nav{
  height: 64px;
  line-height: 64px;
}

.nav >>> .mat-icon{
  color: #00838f;
}

.nav .nav-wrapper {
  position: relative;
  height: 100%;
}

.header-container__brand-logo{
  align-self: center;
}

.brand-logo{
  height: 40px;
  cursor: pointer;
}

.lending_page__button{
  color: #00838f;
  cursor: pointer;
  line-height: 64px;
  padding: unset
}

.lending_page__button /deep/.material-icons{
  color: #F57F17;
  width: unset;
  height: unset;
  font-size: 31px;
}


.brand-logo img{
  height: 100%;
}

.btn-large {
  height: 40px;
  width: 40px;
}

.header{
  line-height: 64px;
}

.header-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.header-container__brand-logo{
  position: inherit !important;
  margin-left: 20px;
}

.header-container__search{
  flex: 2 1 auto;
  margin-left: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60%;
  min-width: 30%;
}
.header-container__button-count{
  align-self: center;
  display: flex;
}
.header-container__user{
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.header-container__user-name{
  margin-left: auto;
  color: white;
}

.header-container__contacts{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container__documents{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.header-container .link_lending{
  text-decoration: none;
  color: #00838f;
  margin-left: 20px;
  font-weight: bold;
  line-height: 67px;
}
