.nav_mobile {
  position: fixed;
  top: 0px;
  z-index: 1;
}

.header-container_mobile{
  flex-direction: column;
}

.header-container__row{
  display: flex;
  height: 50%;
  position: relative;
}

.header-container__search-mobile {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 100%;
}

.header-container__brand-logo_mobile{
  margin-right: auto;
}
