<h2 mat-dialog-title>Недавние скидки</h2>
<mat-dialog-content>
  <mat-list>
    <mat-list-item *ngFor="let sale of sales" class="recent-sale">
      <mat-icon mat-list-avatar>loyalty</mat-icon>
      <div fxLayout="column">
        <h4 mat-line="">{{sale.partnerName}}</h4>
        <h6>{{sale.name + ' - ' + sale.amount + '%'}}</h6>
      </div>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
