.recent-sale h4{
    font-size: 20px;
    margin: 0 !important;
}
.recent-sale h6{
    font-size: 16px;
}
.recent-sale div{
    margin-left: 8px;
}
mat-list-item{
    margin-bottom: 10px
}
.mat-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content{
    padding: 0;
}
mat-dialog-content{
    padding-left: 5px;
}

.mat-list-item-content {
  font-size: 15px;
}
