.templates__chips >>> mat-chip {
  line-height: 0px !important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  background-color: white !important;
  cursor: pointer;
}

mat-chip.active {
  border-style: solid;
  border-width: 2px;
}

.main-nav-header{
  height: 69px;
  background: white;
  width: 100vw;
}
