<div class="dialog">
  <div class="dialog-title">
    <div class="title-font">
      {{title}}
    </div>
  </div>
  <div class="dialog-content">
    <div class="description-tips">
      <div *ngIf="feedback.description==''">{{descriptionTips}}</div>
    </div>
    <textarea
      autofocus
      class="description"
      [(ngModel)]="feedback.description"
    ></textarea>
  </div>
  <mat-dialog-actions class="dialog-actions">
    <button mat-button (click)="dialogRef.close()" class="action-button">Закрыть</button>
    <button mat-button (click)="send()" class="submit-button action-button">Отправить</button>
  </mat-dialog-actions>
</div>


