<!--desktop-->
<div class="search-container" *ngIf="!media.isActive('xs')">
  <div class="search-container-wrap main-color search" (keyup.enter)="searchPartners()">
    <tag-input
      #input
      class="search__tags"
      theme="bootstrap"
      [secondaryPlaceholder]="'Поиск'"
      [onlyFromAutocomplete]="true"
      [(ngModel)]="inputTags"
      [onAdding]="onAdding"
      (onTextChange)="onTextChange($event)"
      (onRemove)="onRemove()"
    >
      <app-search-tag-input-dropdown
        #dropdown
        [tagInput]="input"
        [minimumTextLength]="1"
        [items$]="searchResult"
        [matchingFn]="matchingFn"
        (itemClick)="itemClick($event)">
      </app-search-tag-input-dropdown>
    </tag-input>
    <button mat-mini-fab class="main-color search without-shadow search-button" (click)="searchPartners()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>

<!--mobile-->
<div class="search-container" *ngIf="media.isActive('xs')">
  <div
    class="search-mobile" [ngClass]="{'with-shadow search_mobile--active': isFocus}">
    <button mat-mini-fab class="without-shadow search-button" (click)="searchPartners()">
      <mat-icon>search</mat-icon>
    </button>
    <tag-input
      #input
      class="search__tags"
      [secondaryPlaceholder]="'Поиск'"
      [onlyFromAutocomplete]="true"
      [(ngModel)]="inputTags"
      theme="bootstrap"
      (onAdd)="onAdd()"
      [onAdding]="onAdding"
      (onRemove)="onRemove()"
      (onTextChange)="onTextChange($event)"
      (onFocus)="onInputFocus()"
      (onBlur)="onInputBlur()"
    >
      <app-search-tag-input-dropdown
        #dropdown
        [tagInput]="input"
        [minimumTextLength]="1"
        [items$]="searchResult"
        [matchingFn]="matchingFn"
        (itemClick)="itemClick($event)">
      </app-search-tag-input-dropdown>
    </tag-input>
  </div>
</div>
