.search-container {
  border-radius: 3px;
}

.search-container-wrap {
  border-radius: 25px;
}

.search-container-wrap, .search-container-wrap--mobile {
  height: 45px;
  display: flex;
  flex-direction: row-reverse;
}

.search-button {
  align-self: center;
  margin-left: 5px;
}

.search__tags {
  flex-grow: 2;
}

.search >>> tag {
  background-color: #00838f !important;
}

.search-container >>> .search-menu__title {
  font-size: 15px;
  font-weight: bold;
  border-bottom: solid #222222 1px;
  height: 70%;
}

.search-container >>> .search-menu__item {
  padding-left: 10px;
  overflow: hidden;
}

