.sale-list-height {
  min-height: auto;
}

.item-sales-overflow {
  display: -webkit-box;
  max-height: 3.2rem;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
  line-height: 1.2rem;
}

.sales-list mat-list-item {
  height: auto;
}

.sales-list >>> .mat-list-item-content {
  padding: 7px 10px !important;
  overflow: hidden;
}
