<mat-card block="ds-card" [mod]="['border-rd', 'padding-fix']">
  <mat-card-header elem="header" [mod]="['padding-fix']">
    <div>{{title}}</div>
  </mat-card-header>
  <mat-card-content>
    <app-authrized-content *ngIf="authorizedOnly; else elseBlock">
      <ng-container *ngTemplateOutlet="salesList"></ng-container>
    </app-authrized-content>
    <ng-template #elseBlock>
      <ng-container *ngTemplateOutlet="salesList"></ng-container>
    </ng-template>
  </mat-card-content>
</mat-card>

<ng-template #salesList>
  <div *ngIf="items?.length === 0" class="ds-card__body">
    <ng-content></ng-content>
  </div>
  <mat-list block="ds-list" [mod]="['padding-fix', 'hover', 'border']" class="sales-list">
    <mat-list-item  class="sale-list-height" *ngFor="let item of items" [routerLink]="'/result/places/' + item.placeId + '/sales'">
      <app-sale-item
        [type]="item.type"
        [organizationName]="item.organizationName"
        [isExclusive]="item.isExclusive"
        [name]="item.name"
        [amount]="item.amount">
      </app-sale-item>
    </mat-list-item>
  </mat-list>
</ng-template>
