.tags-list mat-chip {
  padding: 3px 8px 3px 8px !important;
  margin-top: 10px !important;
  margin-bottom: 10px;
}

.tags-list >>> .mat-chip-list-wrapper {
  overflow: hidden;
  flex-wrap: nowrap;
}
