.review-main{
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: auto;
  padding: 15px 1px 0
}

.review-ext-item-meta{
  width: 8rem;
}

.review-ext-item-content {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 5px;
  width: 100%;
}

.review-ext-item-author{
  padding-top: .4rem;
  font-weight: 700;
  margin-bottom: 1.1rem;
}

.review-ext-item-author-img{
  box-sizing: border-box;
  border-radius: 3rem;
  overflow: hidden;
  border: 2px solid #768181;
  width: 6rem;
  height: 6rem;
  background: #f4f4f4;
  line-height: 5.7rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
}

.review-ext-item-author-name{
  font-size: 18px;;
  margin-right: .9rem;
  padding-top: .4rem;
  font-weight: 700;
  margin-bottom: 1.1rem;
}

.review-ext-item-date {
  color: #a8a8a8;
  font-size: 17px;;
}

.review-ext-item-description-item {
  max-width: 78rem;
  word-wrap: break-word;
  word-break: normal;
  margin-bottom: 1.3rem;
}

.review-ext-item-description-item h3{
  margin-bottom: 0;
  font-size: 16px;
}

.review-ext-item-description-item p{
  margin-bottom: 0;
  margin-top: 10px;
}

.text-cutter-link{
  color: #333;
}

.text-cutter-link:hover{
  color: #ED1C24;
}

.direction{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #f9f9f9;
  border-radius: 0.25rem;
  background: #00838f;
  user-select: none;
  overflow: hidden;
  outline: 0;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.05rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0.1rem 0.3rem 0.1rem 0;
  padding: 0.08rem 0.45rem;
  height: 32px;
  line-height: 34px;
  max-width: 400px;
}

.plus{
  background: #00838f;
}

.minus{
  background: #A52A2A;
}
