.mat-list .mat-list-item .mat-list-avatar,
.mat-nav-list .mat-list-item .mat-list-avatar {
  width: auto !important;
  height: auto !important;
  border-radius: 0 !important;
}

.mat-autocomplete-hidden {
  visibility: visible !important;
}

.mat-tab-body {
  overflow-y: hidden !important;
}

.mat-chip-list-wrapper {
  margin: auto !important;
}

/*forms*/
.form {
  display: flex;
  flex-direction: column;
}

.form_with-full .mat-form-field {
  width: 100%;
}

.form__row {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.form__button_right {
  margin-left: auto !important;
}
