@import "template.styles.css";
@import "windows.css";
@import "material.extension.css";
@import "styles.mobile.css";

/*common*/
div:focus {
  outline: none;
}

body {
  margin: 0 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-color {
  background-color: white !important;
}

.sub-color {
  color: #00838f !important;
}

.main-color.search {
  background-color: #f5f5f5 !important;
}

.main-color.button-red {
  background-color: #f8183c !important;
}

div > .cdk-overlay-pane {
  margin-top: 52px;
}

main {
  margin-left: 298px;
}

.cdk-overlay-pane {
  margin-top: 0 !important;
}

/*tags search*/
.ng2-tag-input__text-input::-webkit-input-placeholder {
  color: #d1d1d1;
}

.header-container__search .ng2-tag-input__text-input {
  background-color: transparent !important;
  color: dimgrey;
}

.header-container__search tag-input {
  line-height: 36px;
  margin-left: 5px;
}

.header-container__search .ng2-tag-input {
  border: 0px !important;
}

.search tag {
  background-color: #358fa8 !important;
}

.cdk-overlay-pane {
  max-width: unset !important;
}

/*images*/
.img_border-radius {
  border-radius: 3px;
}

.gmnoprint img {
  height: 2px !important;
  width: 2px !important;
}

