.mobile-page {
  width: 100vw;
  height: 100%;
}

.mobile-page section.header .head_content .mat-icon {
  color: white;
}

/*.mobile-page section.header .head_content a {*/
/*margin-left: 16px;*/
/*}*/

.mobile-page section.header .head_content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 69px;
  min-height: 100%;
  background-color: #00838F;
  align-items: center;
}

.mobile-page section.header .head_content .back {
  display: block;
  margin-left: 20px;
}

.mobile-page section.header .head_content .back a {
  text-decoration: none;
}

.mobile-page section.header .head_content .back a i {
  color: #FFFFFF;
  font-size: 14px;
}

.mobile-page section.header .head_content .title_head {
  display: block;
  margin-left: 15px;
  width: calc(100% - 140px);
}

.mobile-page section.header .head_content .title_head h1 {
  color: #FFFFFF;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobile .mat-drawer-container {
  position: initial;
  z-index: unset;

}

.mobile .mat-drawer-container .mat-drawer-content {
  position: initial;
  overflow: initial !important;
}

.mobile .add-button__buttons {
  display: block !important;
}

.mobile .add-button {
  justify-content: end;
  flex-direction: row-reverse;
}

.mobile .sebm-google-map-container {
  top: 0 !important;
}

@media screen and (max-width: 1025px) {
  .content_block {
    display: block;
    width: 100%;

  }

  .content_block .row #test3 .content_data {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 750px;
  }

  .content_block .row #test3 .content_data .soglasie {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .content_block .row #test3 .content_data .soglasie p {
    text-transform: uppercase;
    font-size: 12px;
    color: black;
    line-height: 14px;
  }

  .content_block .row #test3 .content_data .soglasie p span {
    line-height: 14px;
    color: #4A90E2;
  }

  .content_block .row #test3 .content_data .soglasie p span a {
    line-height: 14px;
    text-decoration: none;
    color: #4A90E2;
  }

  .content_block .row #test3 .content_data .button_submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }

  .content_block .row #test3 .content_data .button_submit .button_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 186px;
    height: 48px;
    background-color: #00838F;
    border-radius: 24px;
  }

  .content_block .row #test3 .content_data .button_submit .button_container button {
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
  }

  .content_block .row #test3 .content_data .name {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .content_block .row #test3 .content_data .name input {
    font-size: 16px;
    line-height: 17px;
  }

  .content_block .row #test3 .content_data .lastname {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
  }

  .content_block .row #test3 .content_data .lastname input {
    font-size: 16px;
    line-height: 17px;
  }

  .content_block .row #test3 .content_data .passport {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
  }

  .content_block .row #test3 .content_data .passport .seriya {
    width: 50%;
  }

  .content_block .row #test3 .content_data .passport .seriya input {
    font-size: 16px;
    line-height: 17px;
  }

  .content_block .row #test3 .content_data .passport .number {
    width: 50%;
  }

  .content_block .row #test3 .content_data .passport .number input {
    font-size: 16px;
    line-height: 17px;
  }

  .content_block .row #test3 .content_data .vidacha {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
  }

  .content_block .row #test3 .content_data .vidacha input {
    font-size: 16px;
    line-height: 17px;
  }

  .content_block .row #test3 .content_data .vidacha .address {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
  }

  .content_block .row #test3 .content_data .vidacha .address input {
    font-size: 16px;
    line-height: 17px;
  }

  .content_block .row #test3 .content_data .vidacha .email {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
  }

  .content_block .row #test3 .content_data .vidacha .email input {
    font-size: 16px;
    line-height: 17px;
  }

  .content_block .row #test3 .content_data .vidacha .phone {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
  }

  .content_block .row #test3 .content_data .vidacha .phone input {
    font-size: 16px;
    line-height: 17px;
  }

  .content_block .row #test3 .content_data .ava {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .content_block .row #test3 .content_data .ava .img_ava img {
    display: block;
    border-radius: 100%;
    width: 132px;
    height: 132px;
  }

  .content_block .row #test2 .description {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 900px;
  }

  .content_block .row #test2 .description .first_description p {
    color: #D0021B;
    font-size: 12px;
    line-height: 16px;
  }

  .content_block .row #test2 .description .last_description {
    margin-top: 15px;
  }

  .content_block .row #test2 .description .last_description p {
    color: black;
    font-size: 12px;
    line-height: 16px;
  }

  .content_block .row #test2 .description .last_description a {
    font-size: 12px;
    text-decoration: none;
    color: #4A90E2;
    line-height: 16px;
  }

  .content_block .row #test2 .tarifs_block {
    display: grid;
    max-width: 900px;
    margin-top: 20px;
    grid-template-columns: 50% 50%;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
  }

  .content_block .row #test2 .tarifs_block .item {
    display: flex;
    flex-direction: column;
    min-height: 228px;
    padding: 0 7px;
  }

  .content_block .row #test2 .tarifs_block .item .name {
    margin-top: 22px;
  }

  .content_block .row #test2 .tarifs_block .item .name p {
    font-size: 20px;
  }

  .content_block .row #test2 .tarifs_block .item .amount {
    margin-top: 68px;
  }

  .content_block .row #test2 .tarifs_block .item .amount span {
    font-size: 16px;
  }

  .content_block .row #test2 .tarifs_block .item .skidki {
    margin-top: 9px;
  }

  .content_block .row #test2 .tarifs_block .item .skidki p {
    font-size: 12px;
  }

  .content_block .row #test2 .tarifs_block .item .button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    cursor: pointer;
  }

  .content_block .row #test2 .tarifs_block .item .button a {
    text-decoration: none;
  }

  .content_block .row #test2 .tarifs_block .item .button a button {
    background-color: #00838F;
    width: 153px;
    height: 48px;
    border: 0;
    border-radius: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
  }

  .content_block .row #test2 .tarifs_block .item .used {
    display: none;
  }

  .content_block .row #test2 .tarifs_block .item.active .button {
    display: none;
  }

  .content_block .row #test2 .tarifs_block .item.active .used {
    display: block;
    margin-top: 38px;
    text-align: center;
  }

  .content_block .row #test2 .tarifs_block .item.active .used p {
    text-transform: uppercase;
    font-size: 14px;
    color: #FFFFFF;
  }

  .content_block .row #test2 .tarifs_block .item.t1 {
    background-color: #4A90E2;
  }

  .content_block .row #test2 .tarifs_block .item.t2 {
    background-color: #7ED321;
  }

  .content_block .row #test2 .tarifs_block .item.t3 {
    background-color: #F5A623;
  }

  .content_block .row #test2 .tarifs_block .item.t4 {
    background-color: #D0021B;
  }

  .content_block .row #test1 .registration {
    width: 100%;
    height: auto;
  }

  .content_block .row #test1 .registration .label {
    padding-left: 14px;
  }

  .content_block .row #test1 .registration .label p {
    font-size: 16px;
    color: black;
  }

  .content_block .row #test1 .registration table {
    display: flex;
    min-height: 150px;
    margin-top: 15px;
    padding: 0 10px;
    width: 100%;
    font-size: 12px;
    color: #5c5c5c;
  }

  .content_block .row #test1 .registration table tr:first-child {
    border-bottom: 1px solid #5c5c5c;
    min-height: 20px;
  }

  .content_block .row #test1 .registration table tr {
    display: block;
    min-height: 20px;
  }

  .content_block .row #test1 .registration table tr td {
    padding-left: 40px;
  }

  .content_block .row #test1 .grafik {
    display: flex;
    flex-direction: column;
  }

  .content_block .row #test1 .grafik .label {
    padding-left: 14px;
  }

  .content_block .row #test1 .grafik .label p {
    font-size: 16px;
    color: black;
  }

  .content_block .row #test1 .grafik .grafik_line {
    min-height: 150px;
  }

  .content_block .row #test1 .program {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    max-width: 900px;
  }

  .content_block .row #test1 .program .line {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
  }

  .content_block .row #test1 .program .line .col_partner {
    display: flex;
    width: 50%;
    background-color: #7ED321;
    min-height: 164px;
    flex-direction: column;
  }

  .content_block .row #test1 .program .line .col_partner .col {
    margin-left: 12px;
    margin-top: 56px;
  }

  .content_block .row #test1 .program .line .col_partner .col span {
    font-size: 50px;
  }

  .content_block .row #test1 .program .line .col_partner .label_col {
    margin-left: 14px;
    margin-top: 8px;
  }

  .content_block .row #test1 .program .line .col_partner .label_col p {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
  }

  .content_block .row #test1 .program .line .pay_partner {
    display: flex;
    flex-direction: column;
    margin-left: 3px;
    width: 50%;
    background-color: #F5A623;
    min-height: 164px;
  }

  .content_block .row #test1 .program .line .pay_partner .col {
    margin-left: 12px;
    margin-top: 56px;
  }

  .content_block .row #test1 .program .line .pay_partner .col span {
    font-size: 50px;
  }

  .content_block .row #test1 .program .line .pay_partner .label_col {
    margin-left: 14px;
    margin-top: 8px;
  }

  .content_block .row #test1 .program .line .pay_partner .label_col p {
    font-size: 16px;
    text-transform: uppercase;
  }

  .content_block .row #test1 .program .cash {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    margin-top: 10px;
    background-color: #00838F;
    min-height: 122px;
  }

  .content_block .row #test1 .program .cash .col {
    margin-left: 12px;
    margin-top: 30px;
  }

  .content_block .row #test1 .program .cash .col span {
    font-size: 50px;
  }

  .content_block .row #test1 .program .cash .label_col {
    margin-left: 14px;
    margin-top: 8px;
  }

  .content_block .row #test1 .program .cash .label_col p {
    font-size: 16px;
    text-transform: uppercase;
  }

  .content_block .row #test1 .program .info_tarif {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    min-height: 153px;
    color: black;
  }

  .content_block .row #test1 .program .info_tarif .name_tarif p {
    font-size: 16px;
    color: black;
  }

  .content_block .row #test1 .program .info_tarif .button {
    background-color: #00838F;
    border-radius: 24px;
    margin-top: 25px;
    width: 186px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content_block .row #test1 .program .info_tarif .button button {
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .content_block .row .all_tabs {
    background-color: #FFF;
  }

  .content_block .row .all_tabs .tabs {
    background-color: #00838F;
  }

  .content_block .row .all_tabs .tabs .indicator {
    background-color: #FFFFFF;
  }

  .content_block .row .all_tabs .tabs .tab a {
    color: #FFFFFF;
    font-size: 14px;
  }
}

.wrapper {
  width: 100%;
  max-width: 1025px;
  margin: 0 auto;
}

.mat-tab-label.mat-tab-disabled {
  color: rgba(0, 0, 0, .38) !important;
}

.mobile-page {
  width: 100vw;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}

.partner-page-mobile .mat-tab-header {
  margin-top: 69px;
}

.gmnoprint {
  display: none;
}

.mobile-mat-menu-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: max-content;
  max-height: calc(100% - 48px) !important;
  border-radius: 24px !important;
}

.mobile_body .cdk-overlay-container {
  z-index: 9999;
}

.mobile_body .cdk-overlay-container .cdk-overlay-transparent-backdrop {
  background: black;
  opacity: 0.4 !important;
}


.mobile_body .cdk-overlay-container .cdk-global-overlay-wrapper .window-register {
  height: 100%;
  width: 100%;
}
