/*owl*/
button.owl-prev.disabled {
  display: none;
}

button.owl-next.disabled {
  display: none;
}

.owl-nav {
  position: absolute;
  top: 0;
  width: 100vw;
  font-size: 50px;
}

button.owl-prev {
  position: absolute;
  left: 0;
  margin-top:4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  background-color: white !important;
  cursor: pointer;
  border-radius: 24px;
  margin-left: 12px !important;
  height: 48px !important;
}

button.owl-next {
  position: absolute;
  right: 0;
  margin-top:4px;
  margin-right: 12px !important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  background-color: white !important;
  cursor: pointer;
  border-radius: 24px;
  height: 48px !important;
}
.owl-carousel .owl-nav button.owl-next{
  display:flex;
  align-items: center;
  justify-content: center;
}
.owl-carousel .owl-nav button.owl-prev{
  display:flex;
  align-items: center;
  justify-content: center;
}
.owl-carousel .mat-chip{
  box-sizing: border-box !important;
}
.owl-carousel .mat-chip.active{
  box-sizing: border-box !important;
}
  /*menu*/
.app-menu {
  border-radius: 24px !important;
  margin-top: 5px;
}
