/*payment-window*/
.payment-window .mat-dialog-container {
  overflow: hidden !important;
  padding: 0 !important;
}

/*user-window*/
.user-lk-window .mat-dialog-container {
  position: relative;
  padding: 0;
}


/*place-window-info*/
.general__info .mat-list-item-content {
  padding-left: 0px !important;
}

.place-window {
  position: relative;
}

/*feedback*/
.feedback-window mat-dialog-container {
  padding: 0;
}

.feedback-window mat-dialog-container .dialog-title {
  background-color: #00838f;
}
