.text-inner-quill{
  text-align: justify;
}
/deep/.text-inner-quill p img{
  width: 100%;
}
.button-back{
  position: absolute;
  left: 15px;
  line-height: 40px;
  width: 45px;
}

.button-back mat-icon{
  font-size: 45px;
  height: 100%;
  line-height: 40px;
  width: 45px;
}

.direction{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #f9f9f9;
  border-radius: 0.25rem;
  background: #00838f;
  user-select: none;
  overflow: hidden;
  outline: 0;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.05rem;
  transition: all 0.3s;
  margin: 0.1rem 0.3rem 0.1rem 0;
  padding: 0.08rem 0.45rem;
  height: 32px;
  line-height: 34px;
  max-width: 400px;
}

.plus{
  background: #00838f;
}

.minus{
  background: #A52A2A;
}




