<div class="review-main">
   <button class="button-back" mat-icon-button routerLink="..">
      <mat-icon style = "color: #00838f">chevron_left</mat-icon>
   </button>
  <div class="review-ext-item-meta">
    <div class="review-ext-item-author-img">{{overview?.userName[0]}}</div>
  </div>
  <div class="review-ext-item-content">
    <div class="review-ext-item-author">
      <span class="review-ext-item-author-name">{{overview?.userName}}</span>
      <span class="review-ext-item-date">{{overview.createDate}}</span>
      <button mat-icon-button *ngIf ="userId == overview.userId" routerLink="edit">
        <mat-icon style = "color: #00838f">mode_edit</mat-icon>
      </button>
    </div>
    <div class="review-ext-item-description">
      <div class="review-ext-item-description-item">
        <h3>Плюсы</h3>
        <div style="display: flex;flex-direction: row">
          <div class="direction plus" *ngFor="let a of overview.plus.split(';')">
            <div>{{a}}</div>
          </div>
        </div>
      </div>
      <div class="review-ext-item-description-item">
        <h3>Минусы</h3>
        <div style="display: flex;flex-direction: row">
          <div class="direction minus" *ngFor="let a of overview.minus.split(';')">
            <div>{{a}}</div>
          </div>
        </div>
      </div>
      <div class="review-ext-item-description-item">
        <h3>Обзор</h3>
          <div class ="text-inner-quill" [innerHTML]="overview.description"></div>
      </div>
    </div>
  </div>
</div>
