.lk-many-tabs-tab {
  display: flex;
  height: 87px;
  width: 300px;
  margin-bottom: 15px;
  color: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.16), 0 1px 4px rgba(0,0,0,0.23);
  text-transform: uppercase;
}
.lk-many-tabs-tab-info{
  width: 206px;
  padding: 22px;
}
.lk-many-tabs-tab-img{
  text-align: center;
  line-height: 53px;
  padding: 22px;
  width: 55px;
  background: rgba(0,0,0,0.08);
}

.lk-many-tabs-tab-info-title{
  font-size: 12px;
}

.lk-many-tabs-tab-info-value{
  padding-top: 8px;
  font-weight: 600;
  font-size: 18px;
}
