<div class="lk-many-tabs-tab" [ngStyle]="{'background': color}">
  <div class="lk-many-tabs-tab-info">
    <div class="lk-many-tabs-tab-info-title">{{title}}</div>
    <div class="lk-many-tabs-tab-info-value">{{value}}</div>
  </div>
  <div  class="lk-many-tabs-tab-img">
    <mat-icon mat-list-icon>{{img}}</mat-icon>
  </div>
</div >
