<div class="ditalization">
  <div>Детализация: </div>
  <mat-radio-group class="ditalization__radio-group" [value]="detalization" (change)="detalization=$event.value">
    <mat-radio-button class="radio-group__radio" [value]="1">По месяцам</mat-radio-button>
    <mat-radio-button class="radio-group__radio" [value]="2">По дням</mat-radio-button>
  </mat-radio-group>
</div>
<div class="canvas">
  <canvas baseChart width="300px" height="300px" *ngIf="byMonthData.length > 0 && detalization == 1"
          [datasets]="byMonthData"
          [labels]="byMonthLabels"
          [options]="lineChartOptions"
          [legend]="true"
          [chartType]="'line'">
  </canvas>
  <canvas baseChart width="300px" height="300px" *ngIf="byWeekData.length > 0 && detalization == 2"
          [datasets]="byWeekData"
          [labels]="byWeekLabels"
          [options]="lineChartOptions"
          [legend]="true"
          [chartType]="'line'">
  </canvas>
</div>
