<div id="card" #cardsContainer block="card-list-mobile">
  <div *ngFor="let place of places$|async">
    <ng-container [ngTemplateOutlet]='carousel'
                  [ngTemplateOutletContext]="{ $implicit: {place:place,class:'right-card'}}"
                  *ngIf="!hideElem">
    </ng-container>
  </div>
</div>

<ng-template #carousel let-item>
  <div block="place-card-mobile">
    <div elem="bookmark">
      <app-bookmark-control [placeId]="item.place.id"></app-bookmark-control>
    </div>
    <div [routerLink]="'/result/places/' + item.place.id">
      <div elem="logo">
        <img src="{{item.place?.logo | img : 100 : 100}}">
      </div>
      <div elem="content">
        <div elem="title">{{item.place.name}}</div>
        <div elem="address">{{item.place.address}}</div>
      </div>
      <div elem="categories">
        <mat-chip-list>
          <mat-chip *ngFor="let category of item.place.categories">
            {{category}}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>


    <div block="actions">
      <a elem="phone" mod="main-color" href="tel:{{item.place.phone}}">
        <mat-icon>
          phone
        </mat-icon>
      </a>
      <mat-icon (click)="getUrl(item.place,'images')"> photo_camera</mat-icon>
      <mat-icon (click)="getUrl(item.place,'videos')">camera_roll</mat-icon>
      <mat-icon>phone</mat-icon>
    </div>
  </div>


</ng-template>
