<div #galleryContainer class="galleryContainer">
  <div class="innerGalleryContainer">
    <div *ngFor='let imgrow of gallery; let i = index'
         class="imagerow"
         [style.margin-bottom.px]="calcImageMargin()">
      <img #imageElement
           *ngFor='let img of imgrow; let j = index'
           class="thumbnail"
           (click)="openImageViewer(img)"
           src="{{img.file}}?width={{img.width}}&height={{img.height}}&rmode=crop"
           [style.margin-right.px]="calcImageMargin()"/>
    </div>
  </div>
</div>
