.innerGalleryContainer {
  position: relative;
}

.galleryContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling:touch;
  overflow-scrolling:touch
}

.galleryContainer img:last-child {
  margin-right: -1px !important;
}

.galleryContainer img:hover {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
  transition: all ease-out 0.2s;
  cursor: pointer;
}

.imagerow {
  margin-right: 1px;
  overflow: hidden;
  display: flex;
}

::-webkit-scrollbar {
  display: none;
}

.asyncLoadingContainer {
  position: absolute;
  background-color: transparent;
  height: 0px;
  width: 0px;
  bottom: 120px;
}
