.partner-icons-info{
  display: flex;
  flex-direction: column;
}

.partner-icons-info-group{
  display: flex;
}

.partner-icons-info-group__disabled{
  color: #868686 !important;
  cursor: unset;
  pointer-events: none;
}

.partner-icons-info-group-icon-title{

}

.hint__popup{
  line-height: 14px;
  height: 14px;
  top: -10px;
  left: -20px;
  padding: 5px;
  background: white;
  position: absolute;
  text-align: left;
  z-index: 999999;
  border-radius: 4px;
  border: solid 1px #cccecf;
  font-size: 12px;
  width: 14px;
  text-align: center;
}

.partner-icons-info-mobile /deep/button{
  margin-right: 10px;
  width: unset;
  line-height: unset;
  height: unset;
}

.partner-icons-info-mobile /deep/.mat-button-ripple-round{
  line-height: unset;
  height: unset;
}
