<div *ngIf="!media.isActive('xs')" class="partner-icons-info">
  <div class="partner-icons-info-group">
    <button mat-icon-button
            routerLink="places/{{place.id}}/images"
            [ngClass]="{'partner-icons-info-group__disabled': !place.imagesCount || place.imagesCount == 0}">
      <div *ngIf="isHint && nameHint == 'images'" class="hint__popup">
        {{place.imagesCount}}
      </div>
      <mat-icon (mouseover)="show('images')"
                (mouseout)="close()"
                class="partner-icons-info-group-icon-title">photo_camera</mat-icon>
    </button>
    <button mat-icon-button
            routerLink="places/{{place.id}}/videos"
            [ngClass]="{'partner-icons-info-group__disabled':!place.videosCount || place.videosCount == 0}">
      <div *ngIf="isHint && nameHint == 'videos'" class="hint__popup">
        {{place.videosCount}}
      </div>
      <mat-icon (mouseover)="show('videos')" (mouseout)="close()"  class="partner-icons-info-group-icon-title">videocam</mat-icon>
    </button>
  </div>
  <div class="partner-icons-info-group">
    <button mat-icon-button
            routerLink="places/{{place.id}}/sales"
            [ngClass]="{'partner-icons-info-group__disabled':!place.salesCount || place.salesCount == 0}">
      <div *ngIf="isHint && nameHint == 'sales'" class="hint__popup">
        {{place.salesCount}}
      </div>
      <mat-icon (mouseover)="show('sales')" (mouseout)="close()"  class="partner-icons-info-group-icon-title">loyalty</mat-icon>
    </button>
    <button mat-icon-button
            routerLink="places/{{place.id}}/overviews"
            [ngClass]="{'partner-icons-info-group__disabled':!place.overviewsCount || place.overviewsCount == 0}">
      <div *ngIf="isHint && nameHint == 'overviews'" class="hint__popup">
        {{place.overviewsCount}}
      </div>
      <mat-icon (mouseover)="show('overviews')" (mouseout)="close()"  class="partner-icons-info-group-icon-title">comment</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="media.isActive('xs')" class="partner-icons-info-mobile">
  <button mat-icon-button
          (click)="mobileNavigate($event,'images')"
          [ngClass]="{'partner-icons-info-group__disabled': !place.imagesCount || place.imagesCount == 0}">
    <mat-icon class="partner-icons-info-group-icon-title">photo_camera</mat-icon>
  </button>
  <button mat-icon-button
          (click)="mobileNavigate($event,'videos')"
          [ngClass]="{'partner-icons-info-group__disabled':!place.videosCount || place.videosCount == 0}">
    <mat-icon class="partner-icons-info-group-icon-title">videocam</mat-icon>
  </button>
  <button mat-icon-button
          (click)="mobileNavigate($event,'sales')"
          [ngClass]="{'partner-icons-info-group__disabled':!place.salesCount || place.salesCount == 0}">
    <mat-icon class="partner-icons-info-group-icon-title">loyalty</mat-icon>
  </button>
  <button mat-icon-button
          (click)="mobileNavigate($event,'overviews')"
          [ngClass]="{'partner-icons-info-group__disabled':!place.overviewsCount || place.overviewsCount == 0}">

    <mat-icon class="partner-icons-info-group-icon-title">comment</mat-icon>
  </button>
</div>
