$discount-type-common-color: #c70202;
$discount-type-stock-color: green;

.discount-type {
  margin-right: 5px;
  text-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: white;
  border-radius: 100%;
  min-width: 35px;
  height: 35px;
  line-height: 35px;

  &--common {
    background-color: $discount-type-common-color;
  }

  &--stock {
    background-color: $discount-type-stock-color;
  }
}
