.exclusive {
  position: absolute;
  right: -35px;
  top: 19px;
  background-color: #00838f;
  color: white;
  transform: rotate(45deg);
  height: 23px;
  line-height: 23px;
  width: 130px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  &:before {
    content: 'Эксклюзив';
  }
}
