.search-mobile {
  height: 45px;
  display: flex;
  flex-direction: row-reverse;
  width: calc(100vw - 40px);
  position: absolute;
  top: 9px;
  background-color: white !important;
  border: 1px solid darkgray;
  border-radius: 25px;

  & tag {
    display: none !important;
    order: 2;
    max-width: calc(100vw - 70px);

    &__text {
      white-space: unset;
    }
  }

  & tag-input-form input {
    width: calc(100vw - 145px);
    order: 1;
  }

  & .search-button {
    margin-left: 0px;
    background-color: transparent !important;
  }

  &--active tag {
    display: flex !important;
  }
}
