<mat-card class="pay-card" *ngIf="!media.isActive('xs')">
  <app-close-button [isAbsolute]="true" [color]="'white'"></app-close-button>
  <div class="pay-header">
    <mat-card-title
      class="pay-header__title pay-header__pay-header__title"
      [ngClass]="{'bg-green-600': isSuccess, 'bg-red-600': !isSuccess}"
    >{{isSuccess ? 'Успешно' : 'Отказ операции'}}</mat-card-title>
  </div>
  <mat-card-content class="pay-content">
    <div class="pay-content__item pay-content__pay-content__item" *ngIf="isSuccess">
      <div>Выбранный тариф успешно активированн.</div>
    </div>
    <div class="pay-content__item pay-content__pay-content__item" *ngIf="!isSuccess">
      <div >Оплата не произведена.</div>
      <div >Выбранный тариф не активированн.</div>
    </div>
  </mat-card-content>
  <div class="pay-card__feedback">
    <app-feedback *ngIf="!isSuccess"></app-feedback>
  </div>
</mat-card>



<dialog-mobile *ngIf="media.isActive('xs')"
               [title]="isSuccess?'Успешно':'Отказ операции'"
               [icon]="'credit_card'"
               [hiddenButton]="!isSuccess"
               [colorHeader]="isSuccess?'#7ed321':'#d0021b'"
               [buttonSave]="'Предолжить'"
               [hiddenClose]="isSuccess"
               (close)="dr.close()">
  <div class="pay-header-mobile">
    <mat-card-content>
      <div class="pay-content__item-mobile pay-content__pay-content__item-mobile" *ngIf="isSuccess">
        <div>Тариф успешно активированн.</div>
      </div>
      <div class="pay-content__item-mobile pay-content__pay-content__item-mobile" *ngIf="!isSuccess">
        <div>Оплата не произведена.</div>
        <div>Тариф не активированн.</div>
      </div>
    </mat-card-content>
    <div class="pay-card__feedback">
      <app-feedback (submit)="dr.close()" *ngIf="!isSuccess"></app-feedback>
    </div>
  </div>
</dialog-mobile>
