.pay-card {
  padding: 0 !important;
}

.pay-header__title {
  color: white;
  padding: 25px;
}

.pay-header__amount span {
  font-size: 25px;
}

.pay-header__amount_color span {
  color: #00838f !important;
}

.pay-header {
  flex-direction: column;
  margin-bottom: auto !important;
  display: flex;
  justify-content: center;
}

.pay-header__pay-header__amount {
  margin: auto;
}

.pay-header__pay-header__title {
  text-align: center;
}

.pay-content__item {
  font-size: 18px;
  width: 373px;
}

.pay-content__pay-content__item {
  padding: 25px 25px 25px 25px;
  width: 373px;
  text-align: center;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pay-actions {
  padding: 25px !important;
  margin-bottom: auto !important;
  display: flex;
  justify-content: center;
}

.pay-action {
  font-size: 20px;
}

.pay-card__feedback {
  padding: 25px;
}

.pay-content__item pay-content__pay-content__item-mobile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: unset;

}


.pay-content__item-mobile{
  font-size: 18px;
  font-weight: 600;
}


.pay-header-mobile /deep/.pay-card__feedback{
  padding: unset;
}


.pay-header-mobile .pay-card__feedback /deep/.feedback__title.mat-dialog-title[_ngcontent-c37]{
  display: none;
}

.pay-header-mobile /deep/.feedback__descp{
  color: #777777;
}
