<form [formGroup]="form.form" *ngIf="!isShowConfirm" class="form form_with-full">
  <mat-form-field>
    <input matInput type="text" formControlName="phone" placeholder="Номер телефона">
    <mat-hint [hidden]="!form.isError('phone')"><span>{{form.getError('phone')}}</span></mat-hint>
  </mat-form-field>
  <div class="form__row">
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="!form.isValid()"
            class="form__button_right">Востановить пароль
    </button>
  </div>
</form>

<app-change-password-confirm *ngIf="isShowConfirm" [phone]="form.getValue().phone"></app-change-password-confirm>
