<mat-chip
  *ngIf="category"
  class="category-map-mobile"
  (click)="openMenu(category)"
  [class.active]="true"
  [ngClass]="[category.color | iconColor:'border']"
>
  <mat-icon [ngClass]="category.color | iconColor" mat-list-avatar>{{category.icon}}</mat-icon>
  <h4 mat-line>{{category.name}}</h4>
  <button class="category-map-mobile-close" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-chip>
