.category-map-mobile {
  line-height: unset !important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  background-color: white !important;
  cursor: pointer;
  position: fixed;
  display: flex;
  top: 65px;
  left: 23px;
  padding: 0px 8px;
  border-radius: 24px;
  align-items: center;
  border: none!important;
  max-width: calc(100vw - 48px);
  box-sizing: border-box!important;
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  overflow: hidden;
}

.category-map-mobile-close{
  background: white;
  border: unset;
  box-shadow: unset;
  padding: unset;
}

.category-map-mobile h4{
  max-width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px 6px;
  white-space: nowrap;
  margin-right: unset;
}
