.template--top-position {
  z-index: 1;
  position: fixed;
  top: 72px;
}

.hide-scroll {
  overflow: hidden;
}

.template--full-width {
  width: 150vw;
}

.mobile /deep/ .mat-dialog-container {
  padding: unset;
  max-height: 100%;
}


.feedback {
  position: fixed;
  z-index: 99;
  right: -66px;
  top: calc(100vh / 2);
  transform: rotate(-90deg);
  will-change: transform;
  font-size: smaller;
}

.mobile /deep/ .mobile-page /deep/ .mat-tab-body.mat-tab-body-active {
  background: white;
  z-index: 9999;
  height: 100%;
}

.mobile /deep/ .mobile-page /deep/ .mat-tab-header {
  border-bottom: unset;
  background-color: #00838F !important;
  color: white;
}

.mobile /deep/ .mobile-page /deep/ .head_content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 69px;
  background-color: #00838F;
}

.mobile /deep/ .mobile-page /deep/ .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: white;
}

.mobile /deep/ .mobile-page /deep/ .mat-tab-body-wrapper {
  background-color: white;
  overflow: unset;
}

.mobile /deep/ .mobile-page /deep/ .mat-tab-group .mat-tab-header {
  background: #00838f;
  color: white !important;
}

.mobile /deep/ .mat-tab-label {
  color: white;
}

.mobile /deep/ .mat-paginator-container {
  justify-content: unset;
}


.mobile /deep/ .content_block /deep/ .mat-tab-label {
  margin-left: auto;
  left: auto;
  right: auto;
  display: inline-block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 14px;
}

.mobile /deep/ .user-lk-window .mat-dialog-container {
  position: relative;
  padding: 0;
}


.bottom-toolbar-template /deep/ .buttons-mobile {
  margin: unset;
  z-index: 9998;
}

.mobile /deep/ .mobile-page section.header .head_content mat-icon {
  margin-left: 11px;
}


.mobile /deep/ .mat-tab-body-content {
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}
