<!--desktop-->
<div *ngIf="!media.isActive('xs')">
  <header-app></header-app>
  <app-templates block="template" [mod]="['top-position', 'full-width']"></app-templates>
  <app-referral-button></app-referral-button>
  <app-map></app-map>
  <div [ngClass]="{ 'hide-scroll' : hiddenScroll }" block="body-container">
    <router-outlet></router-outlet>
  </div>
  <button mat-raised-button color="primary" class="feedback" mat-feedback (onSend)="feedback.feedbackReport($event)">
    Сообщить об ошибке
  </button>
</div>

<div *ngIf="media.isActive('xs')" class="mobile">
  <app-map></app-map>
  <category-mobile
    [category]="categoryMobileService.get()">
  </category-mobile>
  <header-app [drawer]="drawer"></header-app>
  <bottom-bar></bottom-bar>
  <div block="body-container" mod="mobile" [ngClass]="{'mobile-bottom-bar': bottomBarService.open.getValue()}">
    <router-outlet></router-outlet>
  </div>
</div>

<gallery-view></gallery-view>

