.mobile-page-content{
  min-height: calc(100% - 69px);
  display: flex;
  width: 100%;
  overflow: scroll;
  background-color: white;
}


.mobile-categories /deep/section {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}


.mobile-categories /deep/.mobile-page-content{
  padding-top: 70px;
}

.mobile-categories /deep/mat-nav-list{
  width: 100vw;
  padding-top: unset;
}
