<div class="content_block mobile-page mobile-categories">
  <section class="header">
    <div class="head_content">
      <a routerLink="../../">
        <mat-icon style="cursor: pointer" >arrow_back</mat-icon>
      </a>
      <div class="title_head">
        <h1>{{data?.templateName}} </h1>
      </div>
    </div>
  </section>
  <div class="mobile-page-content">
    <mat-nav-list>
      <mat-list-item *ngFor="let c of data?.categories" [routerLink]="'categories/' + c.id">
        <h4 mat-line>{{c?.name}}</h4>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>



