<div class="button-count">
  <button mat-mini-fab [mat-menu-trigger-for]="menu1" class="without-shadow main-color ">
    <div class="counter">{{notifications.length}}</div>
    <mat-icon color="red">notifications</mat-icon>
  </button>
  <mat-menu #menu1="matMenu">
    <mat-list>
      <h3 mat-subheader>Notifications</h3>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let n of notifications">
        <mat-icon mat-list-avatar>{{n.icon}}</mat-icon>
        <h4 mat-line="">{{n.text}}</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-menu>
</div>
