.button-count .counter {
  position: absolute;
  display: block;
  top: 19px;
  left: 23px;
  font-size: 9px;
  line-height: 13px;
  background-color: #ff734c;
  z-index: 10;
  border-radius: 15px;
  padding: 0px 3px;
  text-align: center;
  height: 13px;
  min-width: 5px;
  color: white;
}
.button-count{
  display: flex;
}
