.side-nav {
  background-color: white;
  overflow-y: auto;
}

.side-nav--mobile {
  overflow-y: unset;
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.side-nav-desktop {
  position: relative;
  min-width: 410px;
  max-width: 600px;
}

.side-nav >>> .mat-icon-button {
  color: #00838f;
}

.side-nav >>> .mat-line {
  white-space: normal !important;
}

.side-nav >>> ul li a.pointer {
  cursor: pointer;
}

.nav-list {
  margin-top: 70px;
  height: calc(100vh - 77px);
  margin-left: 10px
}

>>> mat-list-item {
  cursor: pointer;
}

>>> mat-list-item.active {
  background-color: cadetblue;
}

>>> .list-header h3 {
  margin-bottom: 0px !important;
}

.body-container__place-list {
  width: 26vw;
  overflow: hidden;
  height: calc(100vh - 149px);
  border-radius: 5px;
  margin-right: 10px;
}


.with-shadow /deep/ app-loader {
  width: 100vh;
}
