<div id="card" #cardsContainer block="card-list-mobile">
  <div *ngFor="let sale of sales$|async">
    <ng-container [ngTemplateOutlet]='carousel'
                  [ngTemplateOutletContext]="{ $implicit: {sale:sale,class:'right-card'}}">
    </ng-container>
  </div>
</div>

<ng-template #carousel let-item>
  <div block="sale-card-mobile" [routerLink]="'/result/places/' + item.sale.placeId + '/sales'">
    <div block="exclusive" *ngIf="item.sale.isExclusive"></div>
    <div elem="header">
      <div elem="amount">
        <app-sale-amount
          [amount]="item.sale.amount"
          [type]="item.sale.type">
        </app-sale-amount>
      </div>
      <div elem="title">{{item.sale.organizationName}}</div>
    </div>
    <div elem="description">{{item.sale.name}}</div>
  </div>
</ng-template>
