<div class="lk-friends" *ngIf="!media.isActive('xs')">
  <div mat-dialog-title class="lk-friends-title">ПАРТНЕРСКАЯ ПРОГРАММА</div>
  <div class="lk-friends-info">
    <div class="lk-friends-tabs">
      <mat-tab-group>
        <mat-tab label="Регистрации">
          <div class="ref-page">
            <app-user-referal-statistic></app-user-referal-statistic>
          </div>
        </mat-tab>
        <mat-tab label="Приглашения">
          <div class="ref-page__chart">
            <app-user-referal-chart></app-user-referal-chart>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="lk-friends-stats">
      <app-user-referal-many allFrients="256,521" allPay="5,478,123" monthPay="14,789"></app-user-referal-many>
    </div>
  </div>
</div>

<div class="lk-friends-mobile" *ngIf="media.isActive('xs')">
  <div class="lk-friends-info-mobile">
    <div class="lk-friends-tabs-mobile">
      <app-user-referal-many [selectedIndex]="selectedIndex" allFrients="256,521" allPay="5,478,123" monthPay="14,789"></app-user-referal-many>
      <div class="ref-page">
        <app-user-referal-statistic></app-user-referal-statistic>
      </div>
      <div class="ref-page__chart">
        <app-user-referal-chart></app-user-referal-chart>
      </div>
    </div>
    <div class="lk-friends-stats">
    </div>
  </div>
</div>


