.line-table__body{
  display: flex;
  flex-direction: row;
}
.ref-page{
  padding: 0 16px 16px 16px;
}

.lk-friends-tabs /deep/.mat-tab-label{
  width: 50%;
}

.lk-friends-tabs{
  width: 53%;
  float: left;
  border-top: 1px solid #e0dfdf;
}

.ref-page__chart{
  padding: 16px;
}

.lk-friends-stats{
  float: right;
}

.lk-friends-title{
  font-weight: 600;
  height: 48px;
  line-height: 38px;
}


.lk-friends-tabs-mobile{
  width: 100%;
}
