.dialog-mobile{
  width: 328px;
}

.dialog-mobile__header{
  background: #00838f;
  color: white;
  height: 56px;
  line-height: 56px;
  font-size: 20px;
}

.dialog-mobile__header span{
  padding-left: 20px;
}

.dialog-mobile__header i{
  vertical-align: middle;
  padding-right: 12px;
  float: right;
  margin: auto;
  line-height: 56px;
}

.dialog-mobile__footer{
  display: flex;
  flex-direction: row;
  float: right;
  margin: 0px 21px 9px 0;
}

.dialog-mobile /deep/.cancel{
  float: right;
  font-size: 14px;
  background: content-box;
  border: unset;
  color: #757575;
  text-transform: uppercase;
  padding-right: 16px;
  box-shadow: unset;
}

.with-material-button /deep/.mat-raised-button[disabled][disabled]{
  background: white;
  text-transform: uppercase;
  color: #757575;
}


.dialog-mobile__body{
  padding: 24px;
  padding-bottom: 20px;
  min-height: 160px;
}

.with-material-button /deep/.mat-raised-button[disabled][disabled]{
  background: white;
  text-transform: uppercase;
  color: #757575;
}

.with-material-button /deep/.mat-raised-button.mat-primary{
  box-shadow: unset;
  color: #00838f;
  background: white;
  text-transform: uppercase;
}

.dialog-mobile .cancel{
  box-shadow: unset;
}

.dialog-mobile /deep/.referal-card{
  width: unset;
}
