<div class="dialog-mobile" [ngClass]="{'with-material-button': !matButton}" fxHide.gt-xs>
  <div class="dialog-mobile__header" [ngStyle]="{'background': colorHeader}">
    <span>{{title}}</span>
    <i class="material-icons" *ngIf="headerClose" (click)="closeEmit()">close</i>
  </div>
  <div [ngClass]="bodyClass">
    <ng-content></ng-content>
  </div>
  <div class="form__row dialog-mobile__footer" *ngIf="!hiddenButton">
    <button *ngIf="!hiddenClose" mat-raised-button (click)="closeEmit()" class="cancel">
      {{buttonClose}}
    </button>
    <button *ngIf="!hiddenSave" mat-raised-button color="primary" (click)="saveEmit()" [disabled]="disabledSave">
      {{buttonSave}}
    </button>
  </div>
</div>
