<div class="add-button body__add-button" [ngClass]="{'buttons-mobile': media.isActive('xs')}" ngClass.lt-sm="body__add-button_mobile">
  <div class="add-button__buttons">
    <div  class="add-button__buttons-referal">
      <button mat-fab class="add-button__buttons__main main-color "
              [ngClass]="{'mobile-add': media.isActive('xs')}"
              (click)="open()" >
        <mat-icon>add</mat-icon>
      </button>
      <div class="add-button__sub-buttons" *ngIf="showSubButtons">
        <button mat-mini-fab class="sub-buttons__btn bg-red-800"
                [ngClass]="{'mobile-add-mini': media.isActive('xs')}"
                (click)="openPersonalReferral()">
          <mat-icon>person_add</mat-icon>
        </button>
        <button mat-mini-fab class="sub-buttons__btn bg-purple-500"
                [ngClass]="{'mobile-add-mini': media.isActive('xs')}"
                (click)="createGeneralReferral()">
          <mat-icon>group_add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="add-button__referal" ngClass.lt-sm="add-button__referal_mobile">
    <app-personal-referral *ngIf="activeBlock == refBlock.personal" (close)="activeBlock = null;"></app-personal-referral>
    <app-general-referral *ngIf="activeBlock == refBlock.general" (close)="activeBlock = null;"></app-general-referral>
  </div>
</div>
