.body__add-button_mobile {
  right: 20px;
  bottom: 20px;
  z-index: 2;
}

.referal-card_mobile {
  width: calc(100vw - 70px);
}

.add-button__referal_mobile{
  margin: 0 !important;
  position: fixed;
  left: 20px;
  bottom: 90px;
}
