.body__add-button {
  position: fixed;
  right: 50px;
  bottom: 23px;
  z-index: 8;
}

.body__add-button >>> .referal-card,
.body__add-button >>> .referal-card-link {
  background-color: #f1f1f1;
}

.add-button {
  display: flex;
  flex-direction: row-reverse;
}

.add-button__sub-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sub-buttons__btn{
  margin-bottom: 10px;
}

.add-button__buttons {
  display: flex;
  flex-direction: row;
}

.add-button__buttons-referal{
  display: flex;
  flex-direction: column-reverse;
}

.add-button__referal {
  margin-right: 30px;
}

.add-button__buttons__main{
  color: #00838f;
}

.arrow_upward{
  margin-right: 15px;
  background-color: #4a4a4a !important;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
}

.mobile-add{
  background-color: #009688 !important;
  color: white;
}

.mobile-add-mini{
  background-color: #f5a623 !important;
}

.buttons-mobile{
  width: 125px;
  right: 22px;
}
