<div #galleryContainer>
  <image-gallery *ngIf="width && images && images.length > 0" [imagesSrc]="images" [width]="width" class="{{class}}"
                 (onImageClick)="onImageClick($event)">
  </image-gallery>
</div>
