<div  *ngIf="!(authService.isAuthorize()|async); else elseTemp" block="unauzorized" elem="message">
  <h3>Вы не авторизованы. Войдите или зарегистрируйтесь.</h3>
</div>
<ng-template #elseTemp>
  <ng-content *ngIf="authService.isAuthorize()|async"></ng-content>
</ng-template>
