<div *ngIf="user" class="lk-mobile-container">
  <div class="header">
    <img src="https://pp.userapi.com/c625316/v625316804/3d23f/IemQ54JomCQ.jpg?ava=1">
    <span>{{user.name}}</span>
  </div>
  <div class="main">
    <button mat-menu-item (click)="close()">
      <mat-icon>map</mat-icon>
      <span>Карта</span>
    </button>
    <button mat-menu-item (click)="loadRecent()">
      <mat-icon>notifications</mat-icon>
      <span>Уведомления</span>
    </button>
    <button mat-menu-item [routerLink]="'lk'">
      <mat-icon>group</mat-icon>
      <span>Личный кабинет</span>
    </button>
    <button mat-menu-item>
      <mat-icon>loyalty</mat-icon>
      <span>Недавние скидки</span>
    </button>
    <button mat-menu-item [routerLink]="'bookmarks'" (click)="drawer.toggle()">
      <mat-icon>star_rate</mat-icon>
      <span>Закладки</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Выход</span>
    </button>
  </div>
  <div class="footer">
    <img src="assets/logo.svg">
    <div class="buttons">
      <span class="button-info" (click)="loadContacts()">Контакты</span>
      <span class="button-info" (click)="openInfo()">Информация</span>
    </div>
  </div>
</div>

