.lk-mobile-container{
  background: #fafafa;
  width: 80vw;
  float: right;
  height: 100%;
  min-height: 613px;
  position: relative;
}

.lk-mobile-container /deep/.material-icons{
  margin-right: 40px;
  font-size: 29px;
}

.header{
  background: #00838f;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-top: 42px;
}

.header img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.header span{
  font-size: 24px;
  padding-top: 26px ;
  padding-bottom: 10px ;
  color: white;
}

.main{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.lk-mobile-container /deep/.mat-menu-item{
  background: #fafafa;
  font-weight: 600;
}


.lk-mobile-container /deep/.mat-menu-item mat-icon{
  color: #00838f;
  height: unset;
}

.footer{
  padding: 22px;
  position: absolute;
  bottom: 0;
}

.footer img{
  height: 51px;
}
.footer .buttons{
  padding-top: 14px;
}

.footer .buttons .button-info{
  padding-right: 15px;
  color: #9b9b9b;
}

.background{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:black;
  opacity: 0.4;
  z-index:-1;
}
