
.mat-table {
  width: 100%;
}

.mat-header-row, .mat-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  min-height: 48px;
  padding: 0 24px;
}

.mat-header-row, .mat-row {
  border-bottom-color: rgba(0, 0, 0, .12);
  text-align: left;
}

.mat-cell, .mat-header-cell {
  flex: 1;
}

.mat-header-cell {
  font-size: 12px;
  font-weight: 500;
}

.statistic__row {
  display: flex;
  justify-content: space-between;
}

.statistic__column {
  flex: 1;
  text-align: center;
}
