<div class="line-table">
  <table class="mat-table">
    <tr class="mat-header-row">
      <th class="mat-header-cell">№</th>
      <th class="mat-header-cell">Всего</th>
      <th class="mat-header-cell">Оплачено</th>
      <th class="mat-header-cell">Прибыль</th>
    </tr>
    <tr *ngFor="let row of dataSource" class="mat-row">
      <td class="mat-cell">{{row.line}}</td>
      <td class="mat-cell">{{row.all}}</td>
      <td class="mat-cell">{{row.pay}}</td>
      <td class="mat-cell">{{row.profit}}</td>
    </tr>
  </table>
</div>
