
.main-image {
  max-width: 210px;
}
.small-sale {
  font-size: 19px;
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 7px !important;
}

.info-tab-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 10px;
  height: 100%;
}

.sale-list {
  margin-bottom: 10px;
}

.info__text {
  white-space: normal !important;
}

.ql-editor {
  white-space: normal;
  padding: inherit;
}

.info-tab-body {
  display: flex;
  flex-direction: row;
  align-self: stretch;
}

.info-tab-body__col1 {
  margin-top: 10px;
  flex-basis: 30%;
}

.info-tab-body__col2 {
  margin-top: 10px;
  flex-basis: 60%;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 210px;
}

.sevice {
    display: flex;
    flex-direction: column;
    background-color: #4285F4;
    color: #FFFFFF;
    min-height: 140px;
}

.sevice .title {
  display: block;
  margin-top: 25px;
  margin-left: 16px;
}

.sevice .breadcrumbs {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
}

.breadcrumbs .serv a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
}

.breadcrumbs .serv {
  margin-left: 20px;
}

.contacts_container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px #e1e1e1 solid;
  padding-top: 10px;
}

.contacts_container .contacts {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.contacts_container .contacts .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.33333%;
}

.contacts_container .contacts .item_disabled {
  pointer-events: none;
  cursor: default
}

.contacts_container .contacts .item_disabled /deep/mat-icon {
  color: #777777 !important;
}

.contacts_container .contacts .item_disabled /deep/p {
  color: #777777 !important;
}

.contacts_container .contacts .item /deep/mat-icon {
  display: block;
  color: #4285F4;
}

.contacts_container .contacts .item /deep/p {
  display: block;
  color: #4285F4;
  font-size: 16px;
  margin-top: 15px;
}

.description_container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px #e1e1e1 solid;
}

.description_container .descritpion {
  display: flex;
  flex-direction: row;
  width: 400px;
  align-items: center;
  margin-left: 6px;
}

.contacts_container .contacts /deep/a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.description_container .descritpion i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  font-size: 14px;
  color: #5c5c5c;
}

.content_block .row #test1 .description_container .descritpion p {
  display: flex;
  width: calc(100% - 60px);
  font-size: 15px;
  color: black;
  line-height: 20px;
}

.location_container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.location_container .location {
  display: flex;
  flex-direction: row;
  width: 400px;
  align-items: center;
}

.location_container .location mat-icon {
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
  color: #4285F4;
}

.location_container .location p {
  display: flex;
  font-size: 16px;
  align-items: center;
  width: calc(100% - 50px);
  color: black;
  line-height: 20px;
}

.info-tab-mobile agm-map{
  height: 30vh;
}


.info-tab-mobile /deep/.item /deep/button{
  line-height: unset;
  height: unset;
  width: unset;
}

.info-tab-mobile /deep/.star-bookmarks p{
  margin-top: 11px!important;
}

.info-tags >>> .tags-list .mat-chip-list-wrapper {
  flex-wrap: wrap;
  margin: auto !important;
}

.info-tags >>> .tags-list mat-chip {
  margin: 0px !important;
}
