<!--desktop-->
<div class="info-tab-body" *ngIf="!media.isActive('xs')">
  <div class="info-tab-body__col1">
    <div class="image-container" *ngIf="info != null">
      <img src="{{info?.logo == null ? 'assets/icons/device-camera-icon.png' : info?.logo + '?width=210&height=210&rmode=crop'}}"
           class="main-image responsive-img img_border-radius">
    </div>
    <div *ngIf="info?.tags != null" class="info-tags">
      <app-tags-list [tags]="info?.tags"></app-tags-list>
    </div>
    <mat-list *ngIf="info != null" class="general__info">
      <mat-list-item>
        <mat-icon mat-list-avatar>language</mat-icon>
        <h4 mat-line="" class="info__text">{{info?.website == "" ? "-" : info?.website}}</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-avatar>phone</mat-icon>
        <h4 mat-line="" class="info__text">{{info?.phone == "" ? "-" : info?.phone}}</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-avatar>business</mat-icon>
        <h4 mat-line="" class="info__text">{{info?.vicinity == "" ? "-" : info?.vicinity}}</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-avatar>account_balance</mat-icon>
        <h4 mat-line="" class="info__text">{{info?.address == "" ? "-" : info?.address}}</h4>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="info-tab-container info-tab-body__col2">
    <div *ngIf="info != null" class="place-description-description ql-editor">
      <div [innerHTML]="info?.description"></div>
    </div>
  </div>
</div>

<!--mobile-->
<div *ngIf="media.isActive('xs') && info" class="info-tab-mobile">
  <agm-map
    id="agm-map"
    [latitude]="info.lat"
    [longitude]="info.lng"
    [zoom]="15"
    [styles]="styles"
    [markers$]="markers"
    [disableDefaultUI]="true"
    [fullscreenControl]="false"
    [keyboardShortcuts]="false"
    [streetViewControl]="false"
    ngClass.lt-sm="sebm-google-map-container_mobile"
  >
  </agm-map>
  <div class="sevice">
    <div class="title"><p>{{info.name}}</p></div>
    <div class="breadcrumbs">
      <div class="serv" *ngFor="let cat of info.categories">{{cat}}</div>
    </div>
  </div>
  <div class="contacts_container">
    <div class="contacts">
      <div [ngClass]="{ 'item_disabled' : !info.phone }" class="item" ><a href="tel:{{info.phone}}">
        <mat-icon>phone</mat-icon>
        <p>звонок</p>
      </a></div>
      <div class="item star-bookmarks" (click)="controlBookmark(info)">
        <app-bookmark-control [placeId]="info.id" (change)="cd.markForCheck()"></app-bookmark-control>
        <p>в закладки</p>
      </div>
      <div [ngClass]="{ 'item_disabled' : !info.website }" class="item" ><a target="_blank" href="{{info.website}}">
        <mat-icon>language</mat-icon>
        <p>сайт</p>
      </a></div>
    </div>
  </div>
  <div class="description_container">
    <div class="descritpion">
      <div [innerHTML]="info?.description"></div>
    </div>
  </div>
  <div class="location_container">
    <div class="location">
      <mat-icon>location_on</mat-icon>
      <p>{{info.address}}</p>
    </div>
  </div>
</div>
