<div class="lk-tariffs" *ngIf="!media.isActive('xs')">
  <div mat-dialog-title class="lk-friends-title">ТАРИФНЫЕ ПЛАНЫ</div>
  <div class="lk-tariffs-container">
    <div class="lk-tariffs-container" *ngIf="tariffInfo">
      <app-user-tariff *ngFor="let tariff of tariffInfo?.tariffs" [clickTariff]="clickTariff.bind(this)" [tariff]="tariff"></app-user-tariff>
    </div>
    <ng-container *ngIf="!!error">
      <div class="lk-tariffs-error" [ngClass]="{'lk-tariffs-error-active':error}">Что бы подключить тарифные планы "Стандартный" и "Премиум" заполните ВСЮ основную информацию во вкладке "Личные данные"</div>
    </ng-container>
    <div class="lk-tariffs-container-info">
      На бесплатном тарифе вы имеете доступ к просмотру информации об организации,
      на остальных тарифах вы так же имете доступ к скидкам от организаций. доступ к
      партнерской программе доступен только на тарифных планах “стандарт” и “премиум”. с
      более подробной информацией о тарифных планах вы можете ознакомиться в <a target="_blank" style="color: rgb(0, 194, 214);text-decoration: none;" href="http://cloud.uir.one/files/nov_polz_soglash_1.pdf">пользовательском соглашении</a>.
    </div>
  </div>
</div>



<div class="lk-tariffs-mobile" *ngIf="media.isActive('xs')">
  <div class="tarifs_block-mobile">
    <app-user-tariff *ngFor="let tariff of tariffInfo?.tariffs" [clickTariff]="clickTariff.bind(this)" [tariff]="tariff"></app-user-tariff>
  </div>
  <ng-container *ngIf="!!error">
    <div class="lk-tariffs-error" [ngClass]="{'lk-tariffs-error-active':error}">Что бы подключить тарифные планы "Стандартный" и "Премиум" заполните ВСЮ основную информацию во вкладке "Личные данные"</div>
  </ng-container>
  <div class="lk-tariffs-container-info">
    На бесплатном тарифе вы имеете доступ к просмотру информации об организации,
    на остальных тарифах вы так же имете доступ к скидкам от организаций. доступ к
    партнерской программе доступен только на тарифных планах “стандарт” и “премиум”. с
    более подробной информацией о тарифных планах вы можете ознакомиться в <a target="_blank" style="color: rgb(0, 194, 214);text-decoration: none;" href="http://cloud.uir.one/files/nov_polz_soglash_1.pdf">пользовательском соглашении</a>.
  </div>
</div>
