.lk-friends-title{
  font-weight: 600;
  height: 48px;
  line-height: 38px;
}

.lk-tariffs-container-info{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  text-align: justify;
  margin-top: 20px;
}

.lk-tariffs-error{
  font-size: 12px;
  padding-top: 25px;
  color: rgb(217, 39, 39);
  opacity: 0;
  transition: ease .5s;
}

.lk-tariffs-error-active {
  opacity: 1;
}

.tarifs_block-mobile{
  display: grid;
  max-width: 100%;
  margin-top: 15px;
  grid-template-columns: 50% 50%;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.lk-tariffs-mobile{
  margin: 15px;
}


