.lk-info-title{
  font-weight: 600;
  height: 48px;
  line-height: 38px;
  text-transform: uppercase;
}

.lk-info{
  width: 662px;
}

.lk-info-footer{
  flex-direction: column;
  width: 637px;
}
.lk-info-footer-button{
  background: #fd5622;
  color: white;
  width: 32%;
  border: none;
  height: 38px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0,0,0,0.16), 0 1px 4px rgba(0,0,0,0.23);
  margin-top: 10px;
}

.lk-info /deep/span{
  font-size: 13px;
}

.lk-info-field{
  margin-right: 15px;
}

.rows-field{
  width: 687px;
}

.row-field-three .lk-info-field{
  width: 27.5%;
}

.row-field-for .lk-info-field{
  width: 137px;
}

.row-field-two .lk-info-field{
  width: 42.7%;
}

.row-field-one .lk-info-field{
  width: 604px;
}

.lk-info-icon{
  position: relative;
  top: 6px;
  padding-right: 5px;
}

.lk-info-footer-accept{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 32px;
}

.button-mobile{
  height: 48px;
  border-radius: 24px;
  background: #00838f;
  color: white;
  text-transform: uppercase;
  margin-bottom: 17px;
  border: unset;
  padding: 17px;
}

.ava{
  vertical-align: baseline;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.ava img{
  border-radius: 50%;
  width: 130px;
}

.lk-info-mobile /deep/form{
  padding: 14px;
}

.lk-info-mobile /deep/.rows-field{
  width: unset;
}


.lk-info-mobile .row-field-one .lk-info-field{
  width: 100%;
}

.row-field-two {
  display: flex;
}

.row-field-two .lk-info-field{
  width: 50%;
}

.lk-info-mobile /deep/.lk-info-field{
  margin-right: unset;
}

.lk-info-mobile /deep/.lk-info-footer-accept{
  margin-left: unset;
}

.lk-info-footer{
  width: unset;
}

.button-container{
  padding-top: 15px;
  vertical-align: baseline;
  display: flex;
  align-items: center;
  justify-content: center;
}
