<div class="lk-info" *ngIf="!media.isActive('xs')">
  <div mat-dialog-title class="lk-info-title">Личные данные</div>
  <form [formGroup]="infoForm.form">
    <div class="rows-field row-field-three">
      <mat-icon class='lk-info-icon' mat-list-icon>assignment_ind</mat-icon>
      <mat-form-field class="lk-info-field">
        <input formControlName="surname" matInput type="text" placeholder="Фамилия">
      </mat-form-field>
      <mat-form-field class="lk-info-field">
        <input formControlName="name" matInput type="text" placeholder="Имя">
      </mat-form-field>
      <mat-form-field class="lk-info-field">
        <input formControlName="middleName" matInput type="text" placeholder="Отчество">
      </mat-form-field>
    </div>
    <div class="rows-field row-field-for">
      <mat-icon class='lk-info-icon' mat-list-icon>ballot</mat-icon>
      <mat-form-field class="lk-info-field">
        <input formControlName="birthday" matInput type="date" placeholder="День рождения">
      </mat-form-field>
      <mat-form-field class="lk-info-field">
        <input formControlName="datePassport" matInput type="date" placeholder="Дата выдачи паспорта">
      </mat-form-field>
      <mat-form-field class="lk-info-field">
        <input formControlName="seriesPassport" matInput type="text" placeholder="Серия паспорта">
        <mat-hint [hidden]="!infoForm.isError('seriesPassport')"><span>{{infoForm.getError('seriesPassport')}}</span></mat-hint>
      </mat-form-field>
      <mat-form-field class="lk-info-field">
        <input formControlName="numberPassport" matInput type="text" placeholder="Номер паспорта">
        <mat-hint [hidden]="!infoForm.isError('numberPassport')"><span>{{infoForm.getError('numberPassport')}}</span></mat-hint>
      </mat-form-field>
    </div>
    <div class="rows-field row-field-one">
      <mat-icon class='lk-info-icon' mat-list-icon>account_balance</mat-icon>
      <mat-form-field class="lk-info-field">
        <input formControlName="passportDepartment" matInput type="text" placeholder="Кем выдан паспорт">
      </mat-form-field>
    </div>
    <div class="rows-field row-field-one">
      <mat-icon class='lk-info-icon' mat-list-icon>home</mat-icon>
      <mat-form-field class="lk-info-field">
        <input formControlName="residenceAddress" matInput type="text" placeholder="Адрес по прописке">
      </mat-form-field>
    </div>
    <div class="rows-field row-field-two">
      <mat-icon class='lk-info-icon' mat-list-icon>contacts</mat-icon>
      <mat-form-field class="lk-info-field">
        <input [readonly]="true" formControlName="email" matInput type="text" placeholder="Электронная почта">
      </mat-form-field>
      <mat-form-field class="lk-info-field">
        <input [readonly]="true" formControlName="phoneNumber" matInput type="text" placeholder="Номер телефона">
      </mat-form-field>
    </div>
    <div class="rows-field row-field-one">
      <mat-icon class='lk-info-icon' mat-list-icon>contacts</mat-icon>
      <mat-form-field class="lk-info-field">
        <input formControlName="payPalEmail" matInput type="text" placeholder="Электронная почта аккаунта PayPal" required>
        <mat-hint [hidden]="!infoForm.isError('payPalEmail')"><span>{{infoForm.getError('payPalEmail')}}</span></mat-hint>
      </mat-form-field>
    </div>
    <div class="form__row lk-info-footer">
      <div class="lk-info-footer-accept">
        Нажимая на кнопку “Сохранить”, вы даете свое
        <a target="_blank" style="color: rgb(0, 194, 214);text-decoration: none;" href="http://uir.one:5002/files/soglasie_na_pers_dannye.pdf">согласие на обработку персональнных данных</a>,
        и подтверждаете факт ознакомления с
        <a target="_blank" style="color: rgb(0, 194, 214);text-decoration: none;" href="http://cloud.uir.one/files/nov_polz_soglash_1.pdf">пользовательским соглашением</a>
      </div>
      <button [disabled]="!infoForm.isValid()" (click)="submit()" mat-raised-button color="primary" class="form__button_right lk-info-footer-button">
        Сохранить
      </button>
    </div>
  </form>
</div>



<div class="lk-info-mobile" *ngIf="media.isActive('xs')">
  <div class="ava">
    <img src="https://pp.userapi.com/c625316/v625316804/3d23f/IemQ54JomCQ.jpg?ava=1">
  </div>
  <form [formGroup]="infoForm.form">
    <div class="rows-field row-field-one">
      <mat-form-field class="lk-info-field">
        <input formControlName="surname" matInput type="text" placeholder="Фамилия">
      </mat-form-field>
    </div>
    <div class="rows-field row-field-one">
      <mat-form-field class="lk-info-field">
        <input formControlName="name" matInput type="text" placeholder="Имя">
      </mat-form-field>
    </div>
    <div class="rows-field row-field-one">
      <mat-form-field class="lk-info-field">
        <input formControlName="middleName" matInput type="text" placeholder="Отчество">
      </mat-form-field>
    </div>
    <div class="rows-field row-field-one">
      <mat-form-field class="lk-info-field">
        <input formControlName="birthday" matInput type="date" placeholder="День рождения">
      </mat-form-field>
    </div>
    <div class="rows-field row-field-two">
      <mat-form-field class="lk-info-field">
        <input formControlName="seriesPassport" matInput type="text" placeholder="Серия паспорта">
        <mat-hint [hidden]="!infoForm.isError('seriesPassport')"><span>{{infoForm.getError('seriesPassport')}}</span></mat-hint>
      </mat-form-field>
      <mat-form-field class="lk-info-field">
        <input formControlName="numberPassport" matInput type="text" placeholder="Номер паспорта">
        <mat-hint [hidden]="!infoForm.isError('numberPassport')"><span>{{infoForm.getError('numberPassport')}}</span></mat-hint>
      </mat-form-field>
    </div>
    <div class="rows-field row-field-one">
      <mat-form-field class="lk-info-field">
        <input formControlName="datePassport" matInput type="date" placeholder="Дата выдачи паспорта">
      </mat-form-field>
    </div>
    <div class="rows-field row-field-one">
      <mat-form-field class="lk-info-field">
        <input formControlName="passportDepartment" matInput type="text" placeholder="Кем выдан паспорт">
      </mat-form-field>
    </div>
    <div class="rows-field row-field-one">
      <mat-form-field class="lk-info-field">
        <input formControlName="residenceAddress" matInput type="text" placeholder="Адрес по прописке">
      </mat-form-field>
    </div>
    <div class="rows-field row-field-one">
      <mat-form-field class="lk-info-field">
        <input [readonly]="true" formControlName="email" matInput type="text" placeholder="Электронная почта">
      </mat-form-field>
    </div>
    <div class="rows-field row-field-one">
      <mat-form-field class="lk-info-field">
        <input [readonly]="true" formControlName="phoneNumber" matInput type="text" placeholder="Ваш телефон">
      </mat-form-field>
    </div>

    <div class="rows-field row-field-one">
      <mat-form-field class="lk-info-field">
        <input formControlName="payPalEmail" matInput type="text" placeholder="Электронная почта аккаунта PayPal" required>
        <mat-hint [hidden]="!infoForm.isError('payPalEmail')"><span>{{infoForm.getError('payPalEmail')}}</span></mat-hint>
      </mat-form-field>
    </div>

    <div class="button-container">
      <button class="button-mobile" [disabled]="!infoForm.isValid()" (click)="submit()">
        Сохранить
      </button>
    </div>

    <div class="form__row lk-info-footer">
      <div class="lk-info-footer-accept">
        Нажимая на кнопку “Сохранить”, вы даете свое
        <a target="_blank" style="color: rgb(0, 194, 214);text-decoration: none;" href="http://uir.one:5002/files/soglasie_na_pers_dannye.pdf">согласие на обработку персональнных данных</a>,
        и подтверждаете факт ознакомления с
        <a target="_blank" style="color: rgb(0, 194, 214);text-decoration: none;" href="http://cloud.uir.one/files/nov_polz_soglash_1.pdf">пользовательским соглашением</a>
      </div>
    </div>
  </form>
</div>
