<form [formGroup]="form.form" class="form form_with-full">
  <div>Пожалуйста введите код отправленный вам на номер {{phone}}</div>
  <mat-form-field>
    <input matInput type="text" formControlName="code" placeholder="Код из смс">
    <mat-hint [hidden]="!form.isError('code')"><span>{{form.getError('code')}}</span></mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" formControlName="password" placeholder="Новый пароль">
    <mat-hint [hidden]="!form.isError('password')"><span>{{form.getError('password')}}</span></mat-hint>
  </mat-form-field>
  <div class="form__row">
    <button mat-raised-button color="primary" (click)="confirm()" [disabled]="!form.isValid()"
            class="form__button_right">Готово
    </button>
  </div>
</form>
