  @mixin dashboard-card-mobile() {
    @extend .with-shadow;
    z-index: 1;
    background-color: white;
    border-radius: 12px;
    margin: 8px;
    width: 70vw;
    border: 1px solid darkgray;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px;
    height: min-content;
  }


