@mixin set-scroll-bar() {
  &::-webkit-scrollbar {
    width: 0.3em;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 5px;
  }
}
