<h2 mat-dialog-title>Контакты</h2>
<mat-dialog-content>
  <div class="content">
    <div class="contacts">
      <div class="document">
        <div class="contact__title"><mat-icon>phone</mat-icon></div>
        <div class="contact__val">89178700909</div>
      </div>
      <div class="document">
        <div class="contact__title"><mat-icon>email</mat-icon></div>
        <div class="contact__val">info@uir.one</div>
      </div>
    </div>
    <app-feedback (submit)="onSubmit()"></app-feedback>
  </div>
</mat-dialog-content>
