.bordered-bottom {
  border-bottom: 1px solid rgb(230, 230, 230);
}

.list-header {
  padding: 10px 15px 10px 15px !important;
}

.list-header > h3 {
  margin: 0;
  font-size: 18px;
}

.list-header > p {
  margin: 0;
  font-size: 15px;
  color: rgb(140, 140, 140);
}

.place-list__close-button {
  position: absolute;
  top: 15px;
  right: 16px;
}

.partner-list-container {
  height: calc(100vh - 288px);
  overflow: auto;
}

.partner-list-container::-webkit-scrollbar {
  width: 0.7em;
  background-color: #f0f0f0;
}

.partner-list-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.partner-list-container-info-icon {
  display: flex;
  flex-direction: column;
}

.partner-list-container-info-icon-group {
  display: flex;
}

.active {
  background-color: lightgray;
}

.place-list__header {
  font-weight: 400;
  padding-left: 0px !important;
}

.to-cart {
  color: cadetblue;
}

.place-list__sorting {
  position: absolute;
  top: 53px;
  right: 23px;
  width: 24px;
  height: 40px;
  display: flex;
}

.category-list__close-button {
  position: absolute;
  top: 4px;
  right: 10px;
}

.place-list__close-button /deep/ .mat-form-field-underline,.head_content /deep/ .mat-form-field-underline {
  visibility: hidden;
  display: none;
  opacity: 0;
  cursor: unset;
  pointer-events: none;
}

.place-list__close-button /deep/ .mat-select-arrow-wrapper,.head_content /deep/ .mat-select-arrow-wrapper {
  visibility: hidden;
  display: none;
  opacity: 0;
  cursor: unset;
  pointer-events: none;
}

.place-list__close-button /deep/ .mat-select-value,.head_content /deep/ .mat-select-value {
  visibility: hidden;
  display: none;
  opacity: 0;
  cursor: unset;
  pointer-events: none;
}

.place-list__close-button /deep/ .mat-form-field-flex,.head_content /deep/ .mat-form-field-flex {
  height: 24px;
  padding: 0;
}

.place-list__close-button /deep/ .mat-form-field-wrapper,.head_content /deep/ .mat-form-field-wrapper {
  height: 24px;
  padding-top: 8px;
}

.place-list__close-button /deep/ .mat-form-field-infix,.head_content /deep/ .mat-form-field-infix {
  height: 24px;
  padding: 0;
}

.place-list__close-button /deep/ .mat-select-trigger,.head_content /deep/ .mat-select-trigger {
  width: 0;
  height: 0;
  display: inline !important;
}

.place-list__close-button /deep/ .mat-form-field-infix,.head_content /deep/ .mat-form-field-infix {
  padding-top: unset;
  border-top: unset;
}

.place-list__close-button /deep/ mat-form-field,.head_content /deep/ .mat-form-field {
  width: 24px;
  height: 40px;
  color: #00838f;
}

.partner-list-container-mobile{
  width: 100%;
}

.mobile-places /deep/ .icon-map{
  cursor: pointer;
  float: right;
  right: 15px;
  position: fixed;
}



.mobile-places /deep/ section {
  /*position: fixed;*/
  /*top: 0;*/
  /*width: 100%;*/
  /*z-index: 1050;*/
}


.mobile-places /deep/.partner-list-container-mobile{
  /*margin-top: 69px;*/
  height: calc(100vh - 69px - 116px);
  /*margin-bottom: 60px;*/
  overflow-y: auto;
  -webkit-overflow-scrolling:touch;
  overflow-scrolling: touch;
}

.mobile-places /deep/mat-icon{
  z-index: 10;
}

.mobile-place /deep/.places-buttons{

}

.mobile-places /deep/.mat-form-field{
  color: white;
  float: right;
  right: 55px;
  position: fixed;
}
