<div *ngIf="!media.isActive('xs')">
  <div class="list-header bordered-bottom">
    <h3 mat-subheader class="place-list__header">{{data?.header}}</h3>
    <p>{{data?.categoryName}}</p>
    <div style="display: flex" class="close-button place-list__close-button">
      <button mat-icon-button (click)="close()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <mat-form-field>
        <i class="material-icons">sort</i>
        <mat-select (selectionChange)="clickSort($event)" [value]="selectSorting?.value">
          <mat-option *ngFor="let sort of sortings" [value]="sort.value">
            {{sort.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div #placesContainer class="partner-list-container">
    <app-place *ngFor="let p of data?.places"
               [class.active]="p.id == selectPartnerId"
               [place]="p"
               (select)="click($event)"
    ></app-place>
  </div>
  <mat-paginator
    block="paginator"
    [pageIndex]="selectPage - 1"
    [length]="placesCount"
    [hidePageSize]="true"
    [showFirstLastButtons]="false"
    [pageSize]="20"
    (page)="onPaged($event)">
  </mat-paginator>
</div>


<div *ngIf="media.isActive('xs')" class="mobile-places">
  <div class="content_block mobile-page mobile-categories">
    <section class="header">
      <div class="head_content">
        <mat-icon style="cursor: pointer" (click)="back()">arrow_back</mat-icon>
        <div class="title_head">
          <h1>{{getTitle()}} </h1>
        </div>
        <mat-form-field>
          <i class="material-icons">sort</i>
          <mat-select (selectionChange)="clickSort($event)" [value]="selectSorting?.value">
            <mat-option *ngFor="let sort of sortings" [value]="sort.value">
              {{sort.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-icon style="cursor: pointer" class="icon-map" (click)="goMap()">map</mat-icon>
      </div>
    </section>
    <div class="mobile-page-content">
      <div #placesContainer class="partner-list-container-mobile">
        <app-place *ngFor="let p of data?.places"
                   [class.active]="p.id == selectPartnerId"
                   [place]="p"
                   (select)="click($event)"
        ></app-place>
      </div>
      <mat-paginator
        block="paginator"
        mod="mobile"
        [pageIndex]="selectPage - 1"
        [length]="placesCount"
        [hidePageSize]="true"
        [showFirstLastButtons]="false"
        [pageSize]="20"
        (page)="onPaged($event)">
      </mat-paginator>
    </div>
  </div>
</div>
