<mat-toolbar color="primary" class="bottom-toolbar" *ngIf="this.open" [ngClass]="{'bottom-toolbar-template':type == 1, 'bottom-toolbar-main':type == 0}">
  <ng-container *ngIf="type == 0">
    <mat-toolbar-row class="row-toolbar">
      <mat-sidenav-container class="example-container mobile-templates"  (backdropClick)="close(drawerTemplates)">
        <mat-sidenav  class="absolute_vision" [ngClass]="{'close_drawer': !drawerTemplates.opened}" position="end" #drawerTemplates [autoFocus]="false" (keydown.escape)="close(drawerTemplates)" disableClose>
          <app-templates [drawer]="drawerTemplates"></app-templates>
        </mat-sidenav>
        <mat-sidenav-content>
          <button mat-icon-button (click)="drawerTemplates.toggle()">
            <mat-icon class="white-icon">reorder</mat-icon>
          </button>
        </mat-sidenav-content>
      </mat-sidenav-container>
      <a href="//about.uir.one" class="link_lending">
        О Нас
      </a>
    </mat-toolbar-row>
    <mat-toolbar-row class="circle">
      <app-referral-button class='bottom-toolbar-main'></app-referral-button>
      <div class='shape'></div>
    </mat-toolbar-row>
    <mat-toolbar-row class="row-toolbar" >
      <mat-sidenav-container class="lk-drawer-container lk-drawer-container_account" (backdropClick)="close(drawer)">
        <mat-sidenav  class="absolute_vision" [ngClass]="{'close_drawer': !drawer.opened}" position="end" #drawer [autoFocus]="false" (keydown.escape)="close(drawer)" disableClose>
          <lk-dialog [drawer]="drawer"></lk-dialog>
        </mat-sidenav>
        <mat-sidenav-content>
          <div class="lk-panel">
            <div *ngIf="isLogin" class="user-name">{{user?.name}}</div>
            <button mat-icon-button (click)="openLk(drawer)" class="button-lk">
              <mat-icon class="white-icon">account_circle</mat-icon>
            </button>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </mat-toolbar-row>
  </ng-container>

  <ng-container *ngIf="type == 1">
    <mat-toolbar-row>
      <mat-sidenav-container class="example-container mobile-templates"  (backdropClick)="close(drawerTemplates)">
        <mat-sidenav  class="absolute_vision" [ngClass]="{'close_drawer': !drawerTemplates.opened}" position="end" #drawerTemplates [autoFocus]="false" (keydown.escape)="close(drawerTemplates)" disableClose>
          <app-templates [drawer]="drawerTemplates"></app-templates>
        </mat-sidenav>
        <mat-sidenav-content>
          <button mat-icon-button (click)="drawerTemplates.toggle()">
            <mat-icon class="white-icon">reorder</mat-icon>
          </button>
        </mat-sidenav-content>
      </mat-sidenav-container>
      <mat-sidenav-container class="lk-drawer-container" (backdropClick)="close(drawer)" style="width: auto">
        <mat-sidenav  class="absolute_vision" [ngClass]="{'close_drawer': !drawer.opened}" position="end" #drawer [autoFocus]="false" (keydown.escape)="close(drawer)" disableClose>
          <lk-dialog [drawer]="drawer"></lk-dialog>
        </mat-sidenav>
        <mat-sidenav-content>
          <div class="lk-panel">
            <button mat-icon-button (click)="openLk(drawer)" class="button-lk">
              <mat-icon class="white-icon">account_circle</mat-icon>
            </button>
            <div *ngIf="isLogin" class="user-name">{{user?.name}}</div>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </mat-toolbar-row>
    <app-referral-button class="bottom-toolbar-template"></app-referral-button>

  </ng-container>

</mat-toolbar>


