.bottom-toolbar {
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  background: inherit;
  color: white;
  font: 17px/20px Roboto;
  z-index: 9997;
}


.bottom-toolbar /deep/ .lk-panel {
  display: flex;
}

.bottom-toolbar /deep/ .button-lk {
  float: right;
}

.bottom-toolbar /deep/ .user-name {
  color: white;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.bottom-toolbar /deep/ .circle {
  padding: unset;
  width: max-content
}

.bottom-toolbar-template {
  background: #00838f;
}

.bottom-toolbar /deep/ .row-toolbar {
  background: #00838f;
  width: calc((100vw - 68px) / 2);
}

.bottom-toolbar /deep/ .shape {
  margin: 0 auto;
  width: 4em;
  height: 100%;
  background: radial-gradient(circle at 50% 0, transparent 51%, #00838f 33%);
}

.absolute_vision{
  z-index: 9999;
}

.bottom-toolbar /deep/ .overlay-container {
  z-index: 9999;
}

.bottom-toolbar /deep/ .white-icon {
  color: white;
}

.bottom-toolbar /deep/ .mobile-templates mat-sidenav {
  height: 70%;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(0, 100%, 0);
  white-space: unset;
}


.bottom-toolbar /deep/ .mobile-templates div {
  background-color: unset;
}

.bottom-toolbar /deep/ .mobile-templates /deep/ .mat-drawer-backdrop.mat-drawer-shown {
  background-color: unset;
  position: fixed;
  height: 100%;
}

.bottom-toolbar /deep/ .lk-drawer-container /deep/ .mat-drawer-backdrop.mat-drawer-shown {
  position: fixed;
  height: 100%;
}


.bottom-toolbar /deep/ .close_drawer {
  display: none;
}


.bottom-toolbar /deep/ mat-sidenav {
  position: fixed;
  pointer-events: auto;
}

.bottom-toolbar /deep/ mat-sidenav-container {
  background: center;
  position: unset;
}

.bottom-toolbar /deep/ .mat-drawer-content {
  height: unset;
}

.bottom-toolbar-template /deep/ .mat-toolbar-row {
  width: unset;
}


.lk-drawer-container_account {
  margin-left: auto;
}

.button-lk {
  float: right;
}


.bottom-toolbar-main /deep/.buttons-mobile{
  left: 50%;
  position: fixed;
  transform: translate(-50%);
  right: unset;
  display: block;
  bottom: 29px;
  width: unset;
}

.bottom-toolbar /deep/.link_lending{
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
