.lk-many {
}

.lk-many-button {
  background: #fd5622;
  color: white;
  width: 100%;
  border: none;
  height: 38px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23)
}

.lk-many-footer-info {
  width: 281px;
  padding: 10px;
  background: #f3f2f2;
  font-size: 12px;
  margin-bottom: 12px;
}

.program {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  max-width: 900px;
}

.line {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
}

.col_partner {
  display: flex;
  width: 50%;
  background-color: #7ED321;
  min-height: 164px;
  flex-direction: column;
}

.pay_partner {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  width: 50%;
  background-color: #F5A623;
  min-height: 164px;
}

.cash {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  margin-top: 10px;
  background-color: #00838F;
  min-height: 122px;
}

.col {
  margin-left: 12px;
  margin-top: 30px;
}

.program /deep/ span {
  font-size: 50px;
  color: white;
}

.program /deep/p{
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  color: white;
}

.label_col {
  margin-left: 14px;
  margin-top: 8px;
}

.info_tarif {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  min-height: 153px;
  color: black;
  font-weight: 600;
}

.button{
  width: 186px;
  height: 48px;
  border-radius: 24px;
  background: #00838f;
  color: white;
  text-transform: uppercase;
  margin-top: 20px;
  border: unset;
}



