<div class="lk-many" *ngIf="!media.isActive('xs')">
  <div class="lk-many-tabs">
    <app-user-referal-many-tab
      title="Всего приглашенных"
      value="{{allStatistic.allFrients}}"
      color="#4a99b8"
      img="public">
    </app-user-referal-many-tab>
    <app-user-referal-many-tab
      title="Оплатили"
      value="{{allStatistic.allPay}}"
      color="#e91e61"
      img="present_to_all">
    </app-user-referal-many-tab>
    <app-user-referal-many-tab
      title="Общая прибыль за месяц"
      value="{{allStatistic.monthPay}}"
      color="#89c149"
      img="payment">
    </app-user-referal-many-tab>
  </div>
  <div>
    <div *ngIf="userInfo && !userInfo.tariffId" class="lk-many-footer">
      <div class="lk-many-footer-info">Используется бесплатный тариф</div>
      <button class="lk-many-button" >Изменить тариф</button>
    </div>
    <div *ngIf="userInfo && userInfo.tariffId && userInfo.endDay < 7" class="lk-many-footer">
      <div class="lk-many-footer-info">Действие тарифа "{{userInfo.tariffName}}" заканчивается через {{userInfo.endDay}} дней. </div>
      <button class="lk-many-button">Оплатить тариф</button>
    </div>
    <div *ngIf="userInfo && userInfo.tariffId && userInfo.endDay > 7" class="lk-many-footer">
      <div class="lk-many-footer-info">Активный тариф - "{{userInfo.tariffName}}" </div>
      <button class="lk-many-button">Изменить тариф</button>
    </div>
  </div>
</div>


<div *ngIf="media.isActive('xs')">
  <div class="program">
    <div class="line">
      <div class="col_partner">
        <div class="col"><span>{{allStatistic.allFrients}}</span></div>
        <div class="label_col"><p>Всего<br> приглашенных</p></div>
      </div>
      <div class="pay_partner">
        <div class="col"><span>{{allStatistic.allPay}}</span></div>
        <div class="label_col"><p>оплатили</p></div>
      </div>
    </div>
    <div class="cash">
      <div class="col"><span>{{allStatistic.monthPay}}</span></div>
      <div class="label_col"><p>Общая прибыль за месяц</p></div>
    </div>
    <div *ngIf="userInfo && !userInfo.tariffId" class="info_tarif">
      <div class="name_tarif">Используется бесплатный тариф</div>
      <button class="button" (click)="selectedIndex.value = 1">Изменить тариф</button>
    </div>
    <div *ngIf="userInfo && userInfo.tariffId && userInfo.endDay < 7" class="info_tarif">
      <div class="name_tarif">Действие тарифа "{{userInfo.tariffName}}" заканчивается через {{userInfo.endDay}} дней. </div>
      <button class="button" (click)="selectedIndex.value = 1">Оплатить тариф</button>
    </div>
    <div *ngIf="userInfo && userInfo.tariffId && userInfo.endDay > 7" class="info_tarif">
      <div  class="name_tarif" >Активный тариф - "{{userInfo.tariffName}}" </div>
      <button class="button" (click)="selectedIndex.value = 1">Изменить тариф</button>
    </div>
  </div>
</div>


