<mat-card block="ds-card" [mod]="['border-rd', 'padding-fix']">
  <mat-card-header elem="header" [mod]="['padding-fix']">
    <div>{{title}}</div>
  </mat-card-header>
  <mat-card-content>
    <app-authrized-content *ngIf="authorizedOnly; else elseBlock">
  <ng-container *ngTemplateOutlet="placesList"></ng-container>
</app-authrized-content>
  <ng-template #elseBlock>
    <ng-container *ngTemplateOutlet="placesList"></ng-container>
  </ng-template>
  </mat-card-content>
</mat-card>

<ng-template #placesList>
  <div *ngIf="items?.length === 0" class="ds-card__body">
    <ng-content></ng-content>
  </div>
  <mat-list block="ds-list" [mod]="['padding-fix', 'hover', 'border']" >
    <mat-list-item
      class="place-list-height"
      *ngFor="let item of items"
      [routerLink]="'/result/places/' + item.id"
      block="place"
      [mod]="['padding', 'border']">
      <img src="{{item?.logo == null ? '' : item?.logo + '?width=50&height=50&rmode=crop'}}" elem="logo">
      <div block="place-body">
        <div elem="name">{{item.name}}</div>
        <div elem="address">{{item.address}}</div>
      </div>
    </mat-list-item>
  </mat-list>
</ng-template>
