.place--padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.place {
  display: flex;
}

.place-body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.place-body__name {
}

.place-body__address {
  color: grey;
  font-size: 12px;
}

img.place__logo {
  min-width: 50px;
  margin-right: 10px;
  border-radius: 100%;
}

.place--border {
  border-bottom: solid 1px #e0e0e0;
}

.place:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}


.place-list-height{
  height: auto;
}
