.close-button {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  z-index: 10;
}

.close-button__icon {
  font-size: 35px;
  height: 100%;
  line-height: 30px;
  width: 35px;
}

.close-button_absolute{
  position: absolute;
  top: 0px;
  right: 0px;
}
