<button mat-icon-button (click)="close()" class="close-button" [ngClass]="{'close-button_absolute': isAbsolute}">
  <mat-icon class="close-button__icon" [style.color]="color">clear</mat-icon>
</button>
