<div *ngIf="!media.isActive('max-width: 300px');else smallerTemplate">
  <div class="card-line">

    <div class="container-mobile" scrollHelper [countItems]="10">
      <app-xs-places-item
        [places$]="places$"
      >
      </app-xs-places-item>
    </div>


  </div>
  <div style="white-space: nowrap;  overflow: hidden; width: 500px;">
    <div class="container-mobile" scrollHelper [countItems]="10">
      <app-xs-sale-item
        [sales$]="sales$">
      </app-xs-sale-item>
    </div>
  </div>
</div>
<ng-template #smallerTemplate>
  привет
</ng-template>
