<agm-map
  id="agm-map"
  [latitude]="latDef"
  [longitude]="lngDef"
  [zoom]="zoom"
  [styles]="styles"
  [disableDefaultUI]="true"
  [fullscreenControl]="false"
  [keyboardShortcuts]="false"
  [streetViewControl]="false"
  [markers$]="markers"
  [selectedMarker$]="selectedMarker$"
  ngClass.lt-sm="sebm-google-map-container_mobile"
  (clickMarker)="onMarkerClick($event)"
  (mouseOutMarker)="onMarkerOut($event)"
  (mouseOverMarker)="onMarkerOver($event)"
>
</agm-map>
<div class="popover-host" *ngIf="popoverPlace">
  <app-map-popover [place]="popoverPlace"></app-map-popover>
</div>
