<ng-container *ngIf="!media.isActive('xs')">
  <app-register-stepper></app-register-stepper>
</ng-container>

<div class="mobile-register" *ngIf="media.isActive('xs')">
  <dialog-mobile [title]="'Новый пользователь'"
                 [icon]="'account_circle'"
                 [matButton]="true"
                 [bodyClass]="''"
                 [hiddenClose]="true"
                 (close)="dr.close()"
                 [hiddenSave]="true"
                 [headerClose]="true"
                 [hiddenButton]="true">
    <app-register-stepper></app-register-stepper>
  </dialog-mobile>
</div>
