.mobile-register /deep/.dialog-mobile{
  width: 100%;
}


.mobile-register /deep/.dialog-mobile__header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
}


.mobile-register /deep/.mobile-step{
  padding-top: 56px;
  height: 100%;
}
