.main-block{
  width: 328px;
  height: 400px;
}
.main-block_header{
  background: #00838f;
  color: white;
  height: 56px;
  line-height: 56px;
  font-size: 20px;
  text-align: center;
}

.main-block_header i{
  vertical-align: middle;
  padding-right: 5px;
}

.main-block /deep/.form{
  padding: 24px;
}

.main-block /deep/.mat-raised-button[disabled][disabled]{
  background: white;
  text-transform: uppercase;
  color: #757575;
}

.main-block .cancel{
  box-shadow: unset;
}
