.referal-card {
  width: 400px;
}

mat-card-content {
  padding-left: 10px;
  padding-right: 10px;
}

.referal-card__buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 5px;
  top: 5px;
}

.referal-card__title{
  font-size: 22px;
}

.referal-card__link {
  word-wrap: break-word;
}

.share-content{
  display: flex;
  flex-direction: column-reverse;
}

.share-content a{
  margin-top: 16px;
}



.title-mobile{
  font-size: 20px;
  font-weight: 600;
}

.referal-card__title-mobile{
  font-size: 20px;
  font-weight: 600;
}

.form-mobile{
  padding-top: 10px;
  width: 270px;
}


.subtitle-mobile{
  flex-direction: column;
  display: flex;
  padding-bottom: 14px;
}

.subtitle-mobile span{
  padding-top: 9px;
  padding-bottom: 5px;
  font-size: 16px;
}

.ref-buttons-mobile{
  width: 29px;
}

.personal-mobile /deep/.mat-card-header-text{
  flex-direction: column;
  display: flex;
}
.ref-buttons-mobile /deep/.sb-group{
  width: 230px;
  padding: 0 20px;
}

.ref-buttons-mobile /deep/.sb-group .sb-button{
  padding: 3px;
}


