<ng-container *ngIf="!media.isActive('xs')">
  <mat-card *ngIf="personalRef == null" class="referal-card" ngClass.lt-sm="referal-card_mobile">
    <mat-card-header>
      <mat-card-title class="referal-card__title">Приглашение</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="referralForm.form" class="form form_with-full">
        <mat-form-field><input matInput formControlName="name" placeholder="Имя"></mat-form-field>
        <div class="form__row">
          <button mat-raised-button color="primary" [disabled]="!referralForm.form.valid" (click)="create()"
                  class="form__button_right">
            Создать
          </button>
        </div>
      </form>
      <div class="referal-card__buttons">
        <button mat-icon-button (click)="onClose()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="personalRef != null" class="referal-card-link" ngClass.lt-sm="referal-card_mobile">
    <mat-card-header>
      <mat-card-title class="referal-card__title">Поделиться в соц. сетях</mat-card-title>
      <mat-card-subtitle>
        Приглашение для {{personalRef.name}}.&nbsp;
        <a class="referal-card__link" href="{{personalRef.ref}}">{{personalRef.ref}}</a>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <share-buttons [theme]="'material-dark'"
                     [include]="['facebook','twitter','google', 'whatsapp','telegram','vk','sms','email','copy']"
                     [show]="10"
                     [size]="1"
                     [url]="personalRef.ref"
      ></share-buttons>
      <div class="referal-card__buttons">
        <button mat-icon-button (click)="onUpdate()">
          <mat-icon>replay</mat-icon>
        </button>
        <button mat-icon-button (click)="onClose()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>


<dialog-mobile class="personal-mobile"
               *ngIf="media.isActive('xs')"
               [title]="'Приглашение'"
               [icon]="'exit_to_app'"
               (save)="personalRef ? onUpdate() : create()"
               (close)="onClose()"
               [disabledSave]="personalRef ? false : !referralForm.form.valid"
               [buttonSave]="personalRef ? 'Обновить' : 'Создать'"
               [buttonClose]="'Отмена'">
  <div *ngIf="personalRef == null" class="referal-card" ngClass.lt-sm="referal-card_mobile">
    <span class="referal-card__title-mobile">Создайте ссылку</span>
    <form [formGroup]="referralForm.form" class="form form_with-full form-mobile">
      <mat-form-field><input matInput formControlName="name" placeholder="Имя"></mat-form-field>
    </form>
  </div>

  <div *ngIf="personalRef != null" class="referal-card-link" ngClass.lt-sm="referal-card_mobile">
    <mat-card-header class="body">
      <mat-card-title class="title-mobile">Поделиться в соц. сетях</mat-card-title>
      <mat-card-subtitle class="subtitle-mobile">
        <span>Приглашение для {{personalRef.name}}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <share-buttons class="ref-buttons-mobile"
                     [theme]="'material-dark'"
                     [include]="['facebook','twitter','google', 'whatsapp','telegram','vk','sms','email','copy']"
                     [show]="10"
                     [size]="1"
                     [url]="personalRef.ref"
      ></share-buttons>
    </mat-card-content>
  </div>
</dialog-mobile>
