.mobile-page /deep/mat-nav-list{
  width: 100%;
  background: white;
}

.mobile-page-content{
  min-height: calc(100% - 69px);
  display: flex;
  width: 100%;
  overflow: scroll;
  background-color: white;
}
