<div class="content_block mobile-page mobile-categories">
  <section class="header">
    <div class="head_content">
      <mat-icon (click)="close()">arrow_back</mat-icon>
      <div class="title_head">
        <h1>{{title}} </h1>
      </div>
    </div>
  </section>
  <div class="mobile-page-content">
    <ng-content ></ng-content>
  </div>
</div>
