.templates__chips >>> mat-chip {
  line-height: 0px !important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  background-color: white !important;
  cursor: pointer;
}

mat-chip.active {
  border-style: solid;
}

.template--border {
  border-width: 2px;
  border-style: hidden;
}

/deep/ .disabled {
  display: none !important;
}

/*mobile*/
.mobile-templates-list /deep/ .rubricks_container {
  overflow: scroll;
  padding-top: 30px;
}

.mobile-templates-list /deep/ .rubricks_block {
  width: 100%;
  display: grid;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-column-gap: 0px;
  grid-row-gap: 30px;
}

.mobile-templates-list /deep/ .item {
  display: flex;
  align-items: center;
  flex-direction: column;
  white-space: pre-line;
}

.mobile-templates-list /deep/ .rubrick-item {
  font-size: 40px;
  width: unset;
  height: unset;
}

.mobile-templates-list /deep/ .rubrick-name {
  text-align: center;
  vertical-align: middle;
  color: #777777;
  margin: 17px 0;
  line-height: initial;
}
