<mat-chip-list block="templates" elem="chips" *ngIf="media && !media.isActive('xs')">
  <div class="owl-carousel" style="width: 100vw">
    <div *ngFor="let t of templates">
      <mat-chip
        (click)="openMenu(menu)"
        [matMenuTriggerFor]="menu"
        [class.active]="t.id == activeId"
        [ngClass]="['template--border', t.color | iconColor:'border']"
      >
        <mat-icon [ngClass]="t.color | iconColor" mat-list-avatar>{{t.icon}}</mat-icon>
        <h4 mat-line>{{t.name}}</h4>
      </mat-chip>
      <mat-menu
        #menu="matMenu"
        [classList]="'app-menu'"
        [hasBackdrop]="false"
        [overlapTrigger]="false">
        <button
          mat-menu-item
          *ngFor="let c of t.categories"
          (click)="select(t.id, c.id)">{{c.name}}
        </button>
      </mat-menu>
    </div>
  </div>
</mat-chip-list>

<div *ngIf="media && media.isActive('xs')" class="mobile-templates-list">
  <div class="rubricks_container">
    <div class="rubricks_block">
      <ng-container *ngFor="let t of templates">
        <div>
          <div class="item" (click)="openMenu(menu)" [matMenuTriggerFor]="menu">
            <mat-icon class="rubrick-item" [ngClass]="t.color | iconColor" mat-list-avatar>{{t.icon}}</mat-icon>
            <h4 class="rubrick-name" style="font-size: 14px" mat-line>{{t.name}}</h4>
          </div>
          <mat-menu #menu="matMenu" [classList]="'mobile-mat-menu-panel'">
            <ng-template matMenuContent>
              <button
                mat-menu-item
                *ngFor="let c of t.categories"
                (click)="select(t.id, c.id);drawer.toggle()">{{c.name}}
              </button>
            </ng-template>
          </mat-menu>
        </div>
      </ng-container>
    </div>
  </div>
</div>
