.body-container {
  position: fixed;
  height: calc(100vh - 128px);
  //width: calc(100vw - 20px);
  width: calc(100vw);
  overflow: auto;
  z-index: 7;
  display: flex;
  top: 128px;
  overflow: hidden;
  /*padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
*/
  @include set-scroll-bar();

  &--mobile {
    position: fixed;
    display: flex;
    z-index: 1;
    top: 64px;
    height: calc(100% - 56px);
  }
}
