.mat-tab-label {
  color: black !important;
}

.sale-item {
  display: flex;
  align-self: center;
}

.sale-item__amount {
  border-radius: 100%;
  background-color: red;
  color: white;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  align-self: center;
  margin-right: 5px;
}

.item-body {
  display: flex;
  flex-direction: column;
  line-height: normal;
  margin-left: 10px;
}

.item-body__title {
  color: black;
}

.item-body__description {
  color: gray;
  font-size: 12px;
}

.place-item img {
  border-radius: 100%;
  min-height: 40px;
  min-width: 40px;
}

.place-item {
  align-self: center;
  display: flex;
  flex-direction: row;
}

.place-item__name {
  align-self: center;
  line-height: normal;
  margin-left: 10px;
}

.search-dropdown >>> .ng2-menu-item {
  display: flex !important;
  cursor: pointer !important;
  letter-spacing: normal !important;
  transition: none !important;
  line-height: unset !important;
  align-items: center;
}

.search-dropdown >>> .mat-tab-label {
  text-transform: uppercase;
}

.search-dropdown >>> .mat-ink-bar {
  width: 160px !important;
}

.search-dropdown >>> .ng2-dropdown-menu {
  padding: 0 !important;
}

.search-dropdown >>> .ng2-dropdown-menu {
  z-index: 99999 !important;
}

.search-dropdown--desktop >>> .ng2-dropdown-menu {
  border-radius: 5px;
  width: 50vw !important;
  max-height: 70vh !important;
}

/*mobile*/
.search-dropdown--mobile >>> .ng2-dropdown-menu {
  border-radius: 0;
  left: 0 !important;
  top: 65px !important;
  width: 100vw !important;
  height: calc(100vh - 65px) !important;
  max-height: none !important;
}

.search-dropdown--mobile >>> .mat-tab-header-pagination {
  display: flex !important;
}

.search-dropdown--mobile >>> .mat-tab-header {
  z-index: 2;
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
}
