<div>
  <ng2-dropdown [dynamicUpdate]="dynamicUpdate">
    <ng2-dropdown-menu [focusFirstElement]="focusFirstElement"
                       class="search-dropdown"
                       [ngClass.xs]="{'search-dropdown--mobile': true}"
                       [ngClass.gt-xs]="{'search-dropdown--desktop': true}"
                       [zIndex]="zIndex"
                       [appendToBody]="appendToBody"
                       [offset]="offset">
      <mat-tab-group [selectedIndex]="0">
        <mat-tab label="Организации" [disabled]="placesItems.length === 0">
          <ng2-menu-item *ngFor="let item of placesItems" (click)="click(item)">
            <div block="place-item">
              <img src="{{item.logo}}?width=40&height=40&rmode=crop">
              <div block="item-body">
                <div elem="title">{{item.name}}</div>
                <div elem="description">{{item.address}}</div>
              </div>
            </div>
          </ng2-menu-item>
        </mat-tab>
        <mat-tab label="Скидки" [disabled]="salesItems.length === 0" >
          <ng2-menu-item *ngFor="let item of salesItems" (click)="click(item)">
            <app-sale-item
              [type]="item.discountType"
              [organizationName]="item.organizationName"
              [isExclusive]="item.isExclusive"
              [name]="item.name"
              [amount]="item.amount">
            </app-sale-item>
          </ng2-menu-item>
        </mat-tab>
        <mat-tab label="Категории" [disabled]="categoriesItems.length === 0">
          <ng2-menu-item *ngFor="let item of categoriesItems" (click)="click(item)">
            <div>{{item.name}}</div>
          </ng2-menu-item>
        </mat-tab>
        <mat-tab label="Теги" [disabled]="tagsItems.length === 0" >
          <ng2-menu-item *ngFor="let item of tagsItems" (click)="click(item)">
            <div>{{item.name}}</div>
          </ng2-menu-item>
        </mat-tab>
      </mat-tab-group>
    </ng2-dropdown-menu>
  </ng2-dropdown>
</div>
