
<div *ngIf="!media.isActive('xs')" (click)="click(place)" class="partner-list-item">
  <div class="partner-list-item__body">
    <div class="partner-list-item__img" routerLink="places/{{place.id}}">
      <img
        src="{{place.logo == null ? 'assets/icons/device-camera-icon.png' : place.logo + '?width=100&height=100&rmode=crop'}}"
        class="responsive-img img_border-radius">
    </div>
    <div class="partner-list-item__content" routerLink="places/{{place.id}}">
      <h5>
        <img *ngIf="place.planValue"
             src="{{place.planValue == 4000 ? '../../../../../assets/icons/sharp-crown-gray.svg' : '../../../../../assets/icons/sharp-crown-gold.svg'}}">{{place.name}}
      </h5>
      <div class="partner-list__address">{{place.address}}</div>
    </div>
    <partner-icons-info [place]="place"></partner-icons-info>
    <div class="partner-list-item__buttons partner-list-item__buttons_vertical">
      <app-bookmark-control [placeId]="place.id"></app-bookmark-control>
      <button mat-icon-button (click)="zoom(place)">
        <mat-icon>place</mat-icon>
      </button>
    </div>
  </div>
</div>


<div *ngIf="media.isActive('xs')" class="partner-list-item-mobile">
  <div class="partner-list-item__body" (click)='navigatePlace(place)'>
    <div class="partner-list-item__img">
      <img
        src="{{place.logo == null ? 'assets/icons/device-camera-icon.png' : place.logo + '?width=100&height=100&rmode=crop'}}"
        class="responsive-img img_border-radius">
    </div>
    <div class="partner-list-item__content">
      <div class="block_title_star">
        <h5>
          <img *ngIf="place.planValue"
               src="{{place.planValue == 4000 ? '../../../../../assets/icons/sharp-crown-gray.svg' : '../../../../../assets/icons/sharp-crown-gold.svg'}}">{{place.name}}
        </h5>
        <div class="partner-list-item__buttons partner-list-item__buttons_vertical">
          <app-bookmark-control [placeId]="place.id" (change)="cd.markForCheck()"></app-bookmark-control>
        </div>
      </div>
      <div class="partner-list__address">{{place.address}}</div>
      <partner-icons-info [place]="place"></partner-icons-info>
    </div>
  </div>
  <!--<app-tags-list [tags]="place.tags"></app-tags-list>-->
</div>
