
.partner-list-item__content__sale-count {
  font-size: 13px;
  color: #868686;
  margin-top: 5px;
}

.partner-list-item__img {
  width: 100px;
  height: 100px;
}

.partner-list-item__img img {
  height: 100%;
}

.partner-list-item__body {
  display: flex;
  justify-content: space-between;
}

.partner-list-item.active:hover {
  background-color: lightgray;
  cursor: pointer;
}

.partner-list-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.partner-list-item h5 {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}

.partner-list-item__content {
  flex-grow: 10;
  padding: 10px;
  padding-top: 8px;
}


.partner-list-item__content h5{
  margin: 0;
}

.partner-list-item__content img{
  width: 24px;
  height: 24px;
  color: #868686 !important;
  margin-right: 5px;
  margin-bottom: -5px;
}

.partner-list-item__buttons_vertical {
  display: flex;
  flex-direction: column;
}

.partner-list-item {
  padding: 10px 15px 10px 15px;
  border-bottom: 1px solid rgb(230, 230, 230);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.partner-list-item-mobile {
  padding: 5px;
  border-bottom: 1px solid rgb(230, 230, 230);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.star{
  color: #ffca00;
}

.is-bookmark .mat-icon {
  color: #ffca00 !important;
}

.partner-list__address {
  font-size: 12px;
  margin-top: 5px;
  color: grey;
}

.block_title_star{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.partner-list-item-mobile /deep/.partner-list__address{
  margin-bottom: 3px;
}

.partner-list-item-mobile /deep/.partner-icons-info-mobile{
  position: relative;
  bottom: 0;
  top: 8px;
}

.partner-list-item-mobile /deep/.partner-list-item__buttons_vertical button{
  line-height: unset;
  height: unset;
  width: unset;
}
