<form [formGroup]="tokenForm.form" class="form form_with-full">
  <div>Пожалуйста введите код отправленный вам на номер {{phone}}</div>
  <mat-form-field>
    <input matInput type="text" formControlName="code" placeholder="Код из смс">
    <mat-hint [hidden]="!tokenForm.isError('code')"><span>{{tokenForm.getError('code')}}</span></mat-hint>
  </mat-form-field>
</form>
