<div class="info-tab-container" style="margin: 15px">
  <form [formGroup]="overviewForm.form">
    <div class="rows-field">
      <mat-form-field class="row-name">
        <input autofocus matInput formControlName="name" placeholder="Название обзора">
      </mat-form-field>
    </div>
  </form>
  <div class="search">
    <tag-input  class="tag"
                [secondaryPlaceholder]="'Плюсы'"
                theme="bootstrap"
                placeholder = "Плюсы"
                [addOnBlur]="true"
                [(ngModel)]="overviewForm.plus">
    </tag-input>
  </div>
  <div class="search minus">
    <tag-input  class="tag"
                theme="bootstrap"
                [secondaryPlaceholder]="'Минусы'"
                placeholder = "Минусы"
                [addOnBlur]="true"
                [(ngModel)]="overviewForm.minus"
    >
    </tag-input>
  </div>
  <quill-editor [(ngModel)]="overviewForm.description"
                [options]="overviewForm.editorOptions"
                (change)="overviewForm.onContentChanged($event)"></quill-editor>
  <form [formGroup]="overviewForm.form">
    <div class="form__row">
      <div class="form__button_right">
        <button mat-raised-button color="primary" routerLink={{routerClose}}>Закрыть
        </button>
        <button [disabled]="!overviewForm.isValide()" mat-raised-button color="primary" (click)="bind()">Сохранить
        </button>
      </div>
    </div>
  </form>
</div>
