.rows-field {
  display: flex;
  flex-direction: column;
}

.row-name {
  width: 30%;
}

.row-minus-plus{
  width: 50%;
}

.quill-editor-style .ql-toolbar.ql-snow + .ql-container.ql-snow{
  height: auto;
}

.minus {
  padding-bottom: 25px;
}

.minus >>> tag {
  background-color: #A52A2A !important;
}

.tag{
  padding-bottom: 5px;
}

.tag /deep/ input { /* Chrome/Opera/Safari */
  padding: unset;
}

.tag /deep/ input::placeholder { /* Chrome/Opera/Safari */
  padding: unset;
}
