.videos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.video {
  height: 275px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-top: 10px;
}

.video-player {
  height: 200px;
}

.video-content{
  overflow: hidden;
}

.video-content__title {
  font-weight: bold;
}

.video-content__description {
  line-height: 15px;
}

.video-content__title:first-letter,
.video-content__description:first-letter{
  text-transform: uppercase;
}

.mobile-partner-video /deep/.video{
  flex-direction: column;
  height: unset;
  width: 100vw;
  margin-right: unset;
  padding: 0;
}

.mobile-partner-video /deep/.video-player{
  width: 100vw;
}
