<div class="videos-container" *ngIf="!media.isActive('xs')">
  <div class="video" *ngFor="let v of videos">
    <div class="video-player">
      <vg-player>
        <vg-overlay-play></vg-overlay-play>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-time-display
            vgProperty="current"
            vgFormat="mm:ss"
          ></vg-time-display>

          <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

          <vg-time-display
            vgProperty="left"
            vgFormat="mm:ss"
          ></vg-time-display>
          <vg-time-display
            vgProperty="total"
            vgFormat="mm:ss"
          ></vg-time-display>
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>

          <vg-fullscreen></vg-fullscreen>
        </vg-controls>

        <video
          [vgMedia]="media"
          #media
          id="singleVideo"
          preload="auto"
          crossorigin
        >
          <source src="{{v.file}}">
        </video>
      </vg-player>
    </div>
    <div class="video-content">
      <div class="video-content__title">{{v.name}}</div>
      <div class="video-content__description">{{v.discription}}</div>
    </div>
  </div>
</div>


<div class="videos-container mobile-partner-video" *ngIf="media.isActive('xs')">
  <div class="video" *ngFor="let v of videos">
    <div class="video-player">
      <vg-player>
        <vg-overlay-play></vg-overlay-play>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-controls>

          <vg-time-display
            vgProperty="left"
            vgFormat="mm:ss"
          ></vg-time-display>
          <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

          <vg-time-display
            vgProperty="total"
            vgFormat="mm:ss"
          ></vg-time-display>

          <vg-fullscreen></vg-fullscreen>
        </vg-controls>

        <video
          [vgMedia]="media"
          #media
          id="singleVideo"
          preload="auto"
          crossorigin
        >
          <source src="{{v.file}}">
        </video>
      </vg-player>
    </div>
    <div class="video-content">
      <div class="video-content__title">{{v.name}}</div>
      <div class="video-content__description">{{v.discription}}</div>
    </div>
  </div>
</div>

